<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <title>必胜公考优惠券</title>
  <style type="text/css">
    body {
      margin: 0;
      max-width: 600px;
    }
    body img {
      width: 100%;
    }
    .main {
      position: relative;
    }

    #use {
      display: block;
      /*background-color: red;*/
      position: absolute;
      width: 200px; height: 100px;
      top: {{item.top_button}}%;
      left: {{item.left_button}}%;
      right: 0;
    }

    img { pointer-events: none; }

  </style>

   <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?ee4433ce841f7d9c97fbc65c7ec66146";
          var s = document.getElementsByTagName("script")[0]; 
          s.parentNode.insertBefore(hm, s);
        })();
  </script>
</head>

<body>
  <div class="main">
    <img id="bgimage" src="{{item.background_image}}" onclick="return false"> <a id="use" href="" title="立即领取" style="color: transparent;">立即领取</a>
  </div>
</body>
<script type="text/javascript">
  var voucherCode = "{{ item.voucher_id }}";


  document.getElementById("use").onclick = function(e) {
    stopDefault(e);
    if (!!window.usevoucher) {
      window.usevoucher.receiveVoucher(voucherCode);
      return false;
    }
    console.error("no such object as 'usevoucher'.")
  }

  var bgimg = document.getElementById('bgimage');
  bgimg.addEventListener('click',function(e){
  　　e.preventDefault();
  });

  
  // 获取URL参数
  function getQueryString(name, str) {
    var s = str || window.location.search;
    var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
    var r = s.substr(1).match(reg);
    if (r != null) return unescape(r[2]);
    return null;
  }
  // 阻止默认事件
  function stopDefault(e) {
    //阻止默认浏览器动作(W3C)
    if (e && e.preventDefault) e.preventDefault();
    //IE中阻止函数器默认动作的方式
    else window.event.returnValue = false;
    return false;
  }

</script>


</html>
