.contant {
	margin-top: 20px;
}

.question {
	padding-top: 10px;
	padding-bottom: 20px;
}

.now_subject {
	margin: 10px 0 10px 10px;
	padding-left: 8px;
	line-height: 16px;
	font-weight: bold;
	font-size: 14px;
	color: #666;
	border-left: 2px solid #f8b62d;
}

.linh31 {
	font-size: 14px;
	color: #333;
	line-height: 30px;
	margin: 10px;
}

.now_abcd {
	border: 1px solid #c0c4cc;
	border-radius: 9px;
	margin-bottom: 8px;
	display: flex;
	color: #606266;
	margin: 10px;
	font-size: 13px;
}

.fs {
	color: #606266;
	margin-right: 10px;
	font-size: 14px;
}

.left_abcd {
	width: 30px;
	background-color: #ebeef5;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.right_abcd {
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 11px;
}

.ctitle {
	margin: 10px;
	font-size: 14px;
}

.v-code {
	display: block;
	width: 100%;
	height: auto;
	position: fixed;
	bottom: -40px;
	background: rgba(0, 0, 0, .5);
	color: #fff;
	padding-bottom: 40px;
}

.cf:after {
	content: ".";
	height: 0;
	display: block;
	overflow: hidden;
	visibility: hidden;
	clear: both;
}

.v-code .btn {
	width: 80px;
	height: 30px;
	margin: 15px 0;
	border-radius: 4px;
	background: #ffc863;
	font-family: PingFangSC-Semibold;
	font-size: 14px;
	line-height: 30px;
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 0;
	text-shadow: 1px 1px 0 #FF9E4D;
	float: right;
}

.v-code p {
	font-size: 12px;
	line-height: 17px;
	float: left;
	margin-top: 11px;
	margin-bottom: 12px;
	color: #fff;
}

.v-code p b {
	font-size: 14px;
	line-height: 20px;
	font-weight: 600;
	font-family: PingFangSC-Medium;
	letter-spacing: 0;
}

i,
b {
	text-decoration: none;
	font-style: normal;
}

.v-code img {
	float: left;
	width: 40px;
	height: 40px;
	margin: 10px 5px 10px 15px;
}

.yelab {
	color: #fdbc3f;
}

.f14 {
	font-size: 14px;
}

.dblck {
	display: block;
	font-size: 14px;
	margin-top: 12px;
	color: #606266;
}

#box {
	display: flex;
	border: 1px solid #eee;
	border-radius: 5px;
	font-size: 13px;
	margin-left: 10px;
	margin-right: 10px;
	height: 25px;
	width: 77px;
	color: #aaa;
	display: flex;
	align-items: center;
}

#box p {
	margin: 5px;
}

.boxcard {
	background-color: #f5f5f5;
	padding: 5px;
	height: 150px;
	overflow: auto;
}

.downbtn {
	width: 50%;
	margin: 0px auto;
	border-top: 1px solid #eee;
}

.analysis {
	margin: 10px;
}

.bottom__text {
	position: absolute;
	top: 67%;
	left: 0;
	width: 100%;
	text-align: center;
	margin: 0;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
}

.nowap {
	white-space: nowrap;
}

.mb5 {
	margin-bottom: 5px;
}

.spandis {
	padding-top: 20px;
	color: #606266;
}

.linh32 {
	line-height: 31px!important;
	overflow: scroll;
	color: #606266;
}

.btndown {
	height: 30px;
	font-size: 12px;
	line-height: 5px;
	background-color: #fff;
	color: #606266;
}

.mgauto {
	margin: 10px auto;
}

.subtitle {
	font-size: 12px;
	color: #aaa;
	margin-top: 10px;
	margin-bottom: 40px;
	margin-left: 10px;
	margin-right: 10px;
}

.center {
	display: flex;
}

.greenactive {
	background-color: #f0f9eb;
}

.greenactive>.left_abcd {
	background-color: #a1d64c;
	color: #fff;
}

.el-progress.is-success .el-progress__text {
	color: #a1d64c!important;
}

.el-progress--circle .el-progress__text i {
	vertical-align: middle;
	display: none!important;
}

.ddy {
	margin-left: 2px;
	text-align: center;
}

.ddsp1 {
	margin-top: -47px;
	font-size: 18px;
	display: block;
	color: #38ce65;
}

.ddsp2 {
	margin-top: -37px;
	font-size: 12px;
	display: block;
}

.loginlogo {
	width: 100px;
	margin-top: 16px;
	margin-left: 8px;
}