<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>快递信息</title>
</head>
<body>
  <div id="app">

    <simple-grid :datas="gridDatas">
    </simple-grid>

  </div>

  <template id="grid-template">
    <ul>
      <li v-for="data in datas">

        {{ data.age }} - {{ data.name  }}
      </li>
    </ul>
  </template>

  <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/vue/2.5.9/vue.min.js"></script>
  <script>

    Vue.component('simple-grid', {
        template: '#grid-template',
        props: {
            datas: Array
        }
    });

    new Vue({
        el: '#app',
        data: {
            gridDatas: [{
                "name": 'Jack',
                "age": 30
            }, {
                "name": 'Bill',
                "age": 26
            }, {
                "name": 'Tracy',
                "age": 22
            }, {
                "name": 'Chris',
                "age": 36
            }]
        }
    });

    $(function() {
        $.ajax({
            url: '/api/express/info',
            method: 'get',
            data: {
                orderId: "",
                expressCode: "3909430112808",
                pid: "69b81504767483cf",
                guid: "9c553730ef5b6c8c542bfd31b5e25b69",
                doc: "1"
            },
            dataType: 'JSON',
            success: function (data) {
                var msg;
                if (data["Success"] == "ture") {
                    console.log(data.result.msg);
                    msg = data.result.msg;
                    if (data.result.traceInfo["Success"] == "true") {
                        console.log(data.result.msg);
                        msg = data.result.msg;

                        var trace_list = data.result.traceInfo["Traces"];

                    } else {
                        console.log(data.result.msg);
                        msg = data.result.msg;
                    }

                } else {
                    console.log(data.result.msg);
                    msg = data.result.msg;
                }
            },
            error: function () {
                alert("注册失败!")
            }
        });

    });




  </script>

</body>
</html>