<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <title>2017省考面试封闭班</title>
  <script type="text/javascript" src="/static/js/jquery-1.11.3.min.js"></script>
  <style type="text/css">
    * {
      margin: 0； padding: 0;
    }
    body {margin: 0;}
    .main>div {
      position: relative;
    }

    img {
      display: block;
      width: 100%;
    }

    a {
      display: block;
      position: absolute;
      /*background: rgba(255,0,0,.3);*/
      width: 10%;
      height: 1.2em;
      z-index: 1;
      right: 5%;
    }

  </style>
</head>

<body>
  <div class="main">
    <div>
      <img src="http://img.winlesson.com/img/20170509140044_01.jpg">
    </div>
    <div>
      <img src="http://img.winlesson.com/img/20170509140044_02.jpg">
    </div>
    <div>
      <img src="http://img.winlesson.com/img/20170509140044_03.jpg">
    </div>
    <div>
      <img src="http://img.winlesson.com/img/20170509140044_04.jpg">
    </div>
    <div>
      <img src="http://img.winlesson.com/img/20170509140044_05.jpg">
    </div>
    <div>
      <img src="http://img.winlesson.com/img/20170509140044_06.jpg">
    </div>
    <div>
      <img src="http://img.winlesson.com/img/20170509140044_07.jpg">
      <a href="{{ reverse_url('h5_order_detail') }}?courseId=201705101628128214440000" title="面试班7天7晚" style="top: 31%; height: 6%;"></a>
      <a href="{{ reverse_url('h5_order_detail') }}?courseId=201705101628538084600000" title="面试班12天12晚" style="top: 43%; height: 6%;"></a>
      <a href="{{ reverse_url('h5_order_detail') }}?courseId=201705101631017350030000" title="面试班7天7晚协议" style="top: 76%; height: 6%;"></a>
      <a href="{{ reverse_url('h5_order_detail') }}?courseId=201705101631531713730000" title="面试班12天12晚协议" style="top: 88%; height: 6%;"></a>
    </div>
    <div>
      <img src="http://img.winlesson.com/img/20170509140044_08.jpg">
      <a href="{{ reverse_url('h5_order_detail') }}?courseId=201705101634102704060000" title="面试班12天12晚钻石班" style="top: 26%; height: 7%;"></a>
      <a href="{{ reverse_url('h5_order_detail') }}?courseId=201705101643460041890000" title="线上2680" style="top: 67%; height: 7%;"></a>
      <a href="{{ reverse_url('h5_order_detail') }}?courseId=201705101644208300360000" title="线上4480" style="top: 81%; height: 7%;"></a>
    </div>
    <div>
      <img src="http://img.winlesson.com/img/20170509140044_09.jpg">
    </div>
    <div>
      <img src="http://img.winlesson.com/img/20170509140044_10.jpg">
    </div>
    <div>
      <img src="http://img.winlesson.com/img/20170509140044_11.jpg">
    </div>
    <div>
      <img src="http://img.winlesson.com/img/20170509140044_12.jpg">
    </div>
    <div>
      <img src="http://img.winlesson.com/img/20170509140044_13.jpg">
    </div>
    <div>
      <img src="http://img.winlesson.com/img/20170509140044_14.jpg">
    </div>
    <div>
      <img src="http://img.winlesson.com/img/20170509140044_15.jpg">
    </div>
  </div>
</body>

</html>

