<!DOCTYPE html>

<html lang="en" style=""><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>马克学院</title>    
        <!-- Plugins CSS -->
        <link href="/static/Home/static/css/plugins.css" rel="stylesheet">
        <!-- REVOLUTION STYLE SHEETS -->
        <link rel="stylesheet" type="text/css" href="/static/Home/static/css/settings.css">
        <!-- REVOLUTION LAYERS STYLES -->
        <link rel="stylesheet" type="text/css" href="/static/Home/static/css/layers.css">
        <!-- REVOLUTION NAVIGATION STYLES -->
        <link rel="stylesheet" type="text/css" href="/static/Home/static/css/navigation.css?ver=1">
        <!-- load css for cubeportfolio -->
        <link href="/static/Home/static/css/style.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/Home/static/css/font-awesome.min.css">
    
    <style type="text/css" id="#jarallax-clip-1">
    #jarallax-container-1 {
         clip: rect(0 1438px 397px 0);
        clip: rect(0, 1438px, 397px, 0);
    }
    </style>
    <style type="text/css" id="#jarallax-clip-0">
    #jarallax-container-0 {
       clip: rect(0 1438px 173px 0);
       clip: rect(0, 1438px, 173px, 0);
    }
    </style>

    <style>

    .app_logo {
        
        width: 42px;
        height: 42px;
        margin-right: 10px;
        margin-left: 10px;
        border-radius: 6px;
    }

    .part_1__btn {
        
        width: 320px;
        height: 80px;
        padding-right:8px;
        padding-left: 8px;
        padding-bottom: 2px;
        padding-top: 2px;
        line-height: 50px;
        text-align: center;
        font-size: 18px;
        color: #fff !important;
        border-radius: 999px;
        background: #4782d3;
    }
    a {
        text-decoration: none;
    }

    a:-webkit-any-link {
        color: -webkit-link;
        cursor: auto;
    }
    .box{
      display: -webkit-flex; /* Safari */
      display: flex;
      flex-direction: column;
      justify-content: center ;
      align-items: center ;
    }
    </style>

</head>

    <body>

        <!--/preloader-->

        
        <!-- Site Overlay -->
        <div class="site-overlay"></div>

        <nav class="navbar navbar-expand-lg navbar-light navbar-transparent bg-faded nav-sticky">
            <div class="search-inline">
                <form>
                    <input type="text" class="form-control" placeholder="Type and hit enter...">
                    <button type="submit"><i class="ti-search"></i></button>
                    <a href="javascript:void(0)" class="search-close"><i class="ti-close"></i></a>
                </form>
            </div><!--/search form-->
            <div class="container">

                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <img class="app_logo" src="/static/Home/static/images/MarkAndroidIcon_36pt@1.3x.png" >

                <a class="navbar-brand" href="#">

                    <img class="logo logo-dark" src="/static/Home/static/images/logo-black.png" alt="">
                    <img class="logo logo-light hidden-md-down" src="/static/Home/static/images/logo.png" alt="">
                </a>
                <div id="navbarNavDropdown" class="navbar-collapse collapse">
                    {% if current_user %}
                    welcome!!!
                    {% else %}
                    <ul class="navbar-nav ml-auto">
                        <li class=" dropdown active">
                            <a class="nav-link "  href="/">首页</a>
                        </li>

                        <li class=" dropdown active">
                            <a class="nav-link  " href="/user/course">我的</a>
                        </li>

                        <li class=" dropdown active">
                            <a class="nav-link  " href="/user/signin">登录</a>
                        </li>

                        <li class=" dropdown active">
                            <a class="nav-link" href="/user/signup">注册</a>
                        </li>
                        
                    </ul>
                    {% end %}
                </div>
                <div class=" navbar-right-elements">
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="javascript:void(0)" class="search-open"><i class="ti-search"></i></a></li>
                        <li class="list-inline-item"><a href="javascript:void(0)" class=" menu-btn"><i class="ti-shopping-cart"></i> <span class="badge badge-default">3</span></a></li>
                    </ul>
                </div><!--right nav icons-->
            </div>
        </nav>

        <div id="rev_slider_1078_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="classic4export" data-source="gallery" style="margin: 0px auto; background-color: transparent; padding: 0px; overflow: visible; height: 600px;">
           
        
         <!-- START REVOLUTION SLIDER 5.4.1 auto mode -->
            <div id="rev_slider_1078_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.1">
                <ul>    
                    <!-- SLIDE  -->
                    <li data-index="rs-3047" data-transition="slotfade-horizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="800" data-rotate="0"  data-saveperformance="off"  data-title="HTML5 Video" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="/static/Home/static/images/Busy-People.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgparallax="10" class="rev-slidebg" data-no-retina>

                        <!-- LAYERS -->
                        <div class="tp-caption lft stb stl" 
                         data-x="0" 
                         data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','1']" 
                         data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                         >
                            <div class="box">
                                <div>
                                    <img src="/static/Home/static/images/qrcode.png" alt="Image 1">
                                </div>
                                <div>
                                    <a class="part_1__btn js_btn_download" href="javascript:;">立即下载</a>
                                </div>
                            </div>
                        </div> 

                        <!-- <div class="tp-caption" 
                         data-x="0" 
                         data-y="120"
                         data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                         >
                            <a class="part_1__btn js_btn_download" href="javascript:;">立即下载</a>
                        </div> 
                         -->

                        <!-- BACKGROUND VIDEO LAYER -->
                        <div class="rs-background-video-layer" 
                             data-forcerewind="on" 
                             data-volume="mute" 
                             data-videowidth="100%" 
                             data-videoheight="100%" 
                             data-videomp4="http://audio-10004299.file.myqcloud.com/android/Busy-People.mp4" 
                             data-videopreload="auto" 
                             data-videoloop="none" 
                             data-forceCover="1" 
                             data-aspectratio="16:9" 
                             data-autoplay="true" 
                             data-autoplayonlyfirsttime="false" 
                             data-nextslideatend="true" 
                             ></div>
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption mainSlide-Title-Centered   tp-resizeme" 
                             id="slide-1706-layer-8" 
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                             data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','1']" 
                             data-fontsize="['55','55','40','30']"
                             data-lineheight="['65','65','50','35']"
                             data-width="['900','800','621','420']"
                             data-height="none"
                             data-whitespace="normal"

                             data-type="text" 
                             data-responsive_offset="on" 
                             data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                             data-textAlign="['center','center','center','center']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[10,10,10,10]"
                             data-paddingleft="[0,0,0,0]"

                             style="z-index: 6; text-align:center; white-space: normal;"> IT行业精品视频讲解 </div>
                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption mainSlide-caption   tp-resizeme" 
                             id="slide-1706-layer-9" 
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                             data-y="['middle','middle','middle','middle']" data-voffset="['80','80','80','50']" 
                             data-fontsize="['24','24','24','16']"
                             data-lineheight="['34','34','34','26']"
                             data-width="['800','700','621','420']"
                             data-height="none"
                             data-whitespace="normal"
                             data-type="text" 
                             data-responsive_offset="on" 
                             data-frames='[{"delay":1400,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                             data-textAlign="['center','center','center','center']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[10,10,10,10]"
                             data-paddingleft="[0,0,0,0]"
                             style="z-index: 6; text-align:left; max-width:1170px; white-space: normal;">一起踏入腾飞的殿堂，翱翔在程序的海洋。</div>
                        
                             
                    </li>                    

                    
                </ul>
                <div class="tp-bannertimer" style="height: 7px; background-color: rgba(255, 255, 255, 0.25);"></div>    </div>
        </div><!-- END REVOLUTION SLIDER -->


       
        <!--START VIDEO ITEM -->
        <div class=" pt90 pb60">
            <div class="container">
                <div class="title-heading1 mb40">
                    <h3>精选课程</h3>
                </div>
                <div class="row">
                    <div class="col-lg-4 mb30 wow fadeInUp" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <div class="entry-card">
                            <a href="/course" class="entry-thumb">
                                <img src="/static/Home/static/images/entry1.jpg" alt="" class="img-fluid">
                                <span class="thumb-hover ti-back-right"></span>
                            </a><!--/entry thumb-->
                            <div class="entry-content">
                                <div class="entry-meta mb5">
                                    <span>
                                        May 15th 2017 
                                    </span>
                                </div>
                                <h4 class="entry-title text-capitalize">
                                    <a href="#">
                                        Manage grid items with bootstrap4 flex box sit amet
                                    </a>
                                </h4>
                               
                            </div><!--/entry content-->
                        </div>
                    </div><!--/.col-->
                    <div class="col-lg-4 mb30 wow fadeInUp" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                        <div class="entry-card">
                            <a href="/course" class="entry-thumb">
                                <img src="/static/Home/static/images/entry2.jpg" alt="" class="img-fluid">
                                <span class="thumb-hover ti-back-right"></span>
                            </a><!--/entry thumb-->
                            <div class="entry-content">
                                <div class="entry-meta mb5">
                                    <span>
                                        May 15th 2017 
                                    </span>
                                </div>
                                <h4 class="entry-title text-capitalize">
                                    <a href="#">
                                        Manage grid items with bootstrap4 flex box sit amet
                                    </a>
                                </h4>
                               
                            </div><!--/entry content-->
                        </div>
                    </div><!--/.col-->

                    <div class="col-lg-4 mb30 wow fadeInUp" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                        <div class="entry-card">
                            <a href="/course" class="entry-thumb">
                                <img src="/static/Home/static/images/entry3.jpg" alt="" class="img-fluid">
                                <span class="thumb-hover ti-back-right"></span>
                            </a><!--/entry thumb-->
                            <div class="entry-content">
                                <div class="entry-meta mb5">
                                    <span>
                                        May 15th 2017 
                                    </span>
                                </div>
                                <h4 class="entry-title text-capitalize">
                                    <a href="#">
                                        Manage grid items with bootstrap4 flex box sit amet
                                    </a>
                                </h4>
                                
                            </div><!--/entry content-->
                        </div>
                    </div><!--/.col-->
                </div>
            </div>
        </div><!--news-->

        <!--START HEAD USER -->

         <div class="bg-primary pt90 pb90">
            <div class="container">
                <!-- Carousel -->
                <div class="carousel-testimonial owl-carousel owl-theme carousel-dark owl-loaded owl-drag">

                    <!--item-->
                    <!--item-->
                    <!--item-->
                <div class="owl-stage-outer owl-height" style="height: 128px;">
                    <div class="owl-stage" >
                    <div class="owl-item " style="width: 1110px; margin-right: 15px;">
                    <div class="item">
                        <div class=" testimonial testimonial-dark">
                            <div class="row align-items-center">
                                <div class="col-lg-3 ml-md-5">
                                    <img src="/static/Home/static/images/customer-2.jpg" alt="" class="img-fluid circle">
                                </div>
                                <div class="col-lg-7">
                                    <p class="lead">
                                        " Compared to others this was a very easy to use and adapt template. It didn't break as easy with minor changes. Thanks "
                                    </p>
                                    <h5>John Doe - <span>Assan Customer</span></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               </div>
           </div>
           <div class="owl-nav">
            <div class="owl-prev"><i class="ti-angle-left"></i></div>
            <div class="owl-next"><i class="ti-angle-right"></i></div>
             </div>
             <div class="owl-dots disabled"></div>
         </div> <!-- /Carousel -->
        </div>
    </div>


      <!--START VIDEO ITEM -->
        <div class=" pt90 pb60">
            <div class="container">
                <div class="title-heading1 mb40">
                    <h3>系统架构</h3>
                </div>
                <div class="row">
                    <div class="col-lg-4 mb30 wow fadeInUp" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <div class="entry-card">
                            <a href="/course" class="entry-thumb">
                                <img src="/static/Home/static/images/entry1.jpg" alt="" class="img-fluid">
                                <span class="thumb-hover ti-back-right"></span>
                            </a><!--/entry thumb-->
                            <div class="entry-content">
                                <div class="entry-meta mb5">
                                    <span>
                                        May 15th 2017 
                                    </span>
                                </div>
                                <h4 class="entry-title text-capitalize">
                                    <a href="#">
                                        Manage grid items with bootstrap4 flex box sit amet
                                    </a>
                                </h4>
                                
                            </div><!--/entry content-->
                        </div>
                    </div><!--/.col-->
                    <div class="col-lg-4 mb30 wow fadeInUp" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                        <div class="entry-card">
                            <a href="/course" class="entry-thumb">
                                <img src="/static/Home/static/images/entry2.jpg" alt="" class="img-fluid">
                                <span class="thumb-hover ti-back-right"></span>
                            </a><!--/entry thumb-->
                            <div class="entry-content">
                                <div class="entry-meta mb5">
                                    <span>
                                        May 15th 2017 
                                    </span>
                                </div>
                                <h4 class="entry-title text-capitalize">
                                    <a href="#">
                                        Manage grid items with bootstrap4 flex box sit amet
                                    </a>
                                </h4>
                                
                            </div><!--/entry content-->
                        </div>
                    </div><!--/.col-->

                    <div class="col-lg-4 mb30 wow fadeInUp" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                        <div class="entry-card">
                            <a href="/course" class="entry-thumb">
                                <img src="/static/Home/static/images/entry3.jpg" alt="" class="img-fluid">
                                <span class="thumb-hover ti-back-right"></span>
                            </a><!--/entry thumb-->
                            <div class="entry-content">
                                <div class="entry-meta mb5">
                                    <span>
                                        May 15th 2017 
                                    </span>
                                </div>
                                <h4 class="entry-title text-capitalize">
                                    <a href="#">
                                        Manage grid items with bootstrap4 flex box sit amet
                                    </a>
                                </h4>
                                
                            </div><!--/entry content-->
                        </div>
                    </div><!--/.col-->
                    
                </div>
            </div>
        </div><!--news-->


        <!--START FOOTER -->
        <footer class="footer footer-standard pt20 pb10">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 mb10">
                        <h3>关于我们</h3>
                        <p>
                            4个可爱的程序员+一个老男人，不畏世俗，不卑不亢，用自己的方式诠释这生命的意义，书写着人生的篇章~。联系方式mark_college@163.com
                        </p>
                    </div>
                    
                </div>
            </div>
        </footer><!--/footer-->

        <div class="footer-bottomAlt">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        
                    </div>
                    <div class="col-lg-5">
                        <span>© Copyright 2017. All Right Reserved</span>
                    </div>
                </div>
            </div>
        </div><!--/footer bottom-->
        
        <!-- jQuery first, then Tether, then Bootstrap JS. -->
        <script type="text/javascript" src="/static/Home/static/js/plugins.js"></script> 
        <script type="text/javascript" src="/static/Home/static/js/assan.custom.js"></script> 
        <!-- load cubeportfolio -->
        <script type="text/javascript" src="/static/Home/static/js/jquery.cubeportfolio.min.js"></script>
        <!-- REVOLUTION JS FILES -->
        <script type="text/javascript" src="/static/Home/static/js/jquery.themepunch.tools.min.js"></script>
        <script type="text/javascript" src="/static/Home/static/js/jquery.themepunch.revolution.min.js"></script>
        <!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->	
        <script type="text/javascript" src="/static/Home/static/js/revolution.extension.actions.min.js"></script>
        <script type="text/javascript" src="/static/Home/static/js/revolution.extension.carousel.min.js"></script>
        <script type="text/javascript" src="/static/Home/static/js/revolution.extension.kenburn.min.js"></script>
        <script type="text/javascript" src="/static/Home/static/js/revolution.extension.layeranimation.min.js"></script>
        <script type="text/javascript" src="/static/Home/static/js/revolution.extension.migration.min.js"></script>
        <script type="text/javascript" src="/static/Home/static/js/revolution.extension.navigation.min.js"></script>
        <script type="text/javascript" src="/static/Home/static/js/revolution.extension.parallax.min.js"></script>
        <script type="text/javascript" src="/static/Home/static/js/revolution.extension.slideanims.min.js"></script>
        <script type="text/javascript" src="/static/Home/static/js/revolution.extension.video.min.js"></script>
        <script>
            /**Hero  script**/
            var tpj = jQuery;

            var revapi1078;
            tpj(document).ready(function () {
                if (tpj("#rev_slider_1078_1").revolution == undefined) {
                    revslider_showDoubleJqueryError("#rev_slider_1078_1");
                } else {

                    revapi1078 = tpj("#rev_slider_1078_1").show().revolution({
                        sliderType: "standard",
                        
                        sliderLayout: "auto",
                        dottedOverlay: "none",
                        delay: 8000,
                        navigation: {
                            arrows: {
                                enable: true,
                                style: 'uranus',
                                tmp: '',
                                rtl: false,
                                hide_onleave: false,
                                hide_onmobile: true,
                                hide_under: 600,
                                hide_over: 9999,
                                hide_delay: 200,
                                hide_delay_mobile: 1200,
                                left: {
                                    container: 'slider',
                                    h_align: 'left',
                                    v_align: 'center',
                                    h_offset: 0,
                                    v_offset: 0
                                },
                                right: {
                                    container: 'slider',
                                    h_align: 'right',
                                    v_align: 'center',
                                    h_offset: 0,
                                    v_offset: 0
                                }
                            }
                        },
                        viewPort: {
                            enable: true,
                            outof: "pause",
                            visible_area: "80%",
                            presize: false
                        },
                        responsiveLevels: [1240, 1024, 778, 480],
                        visibilityLevels: [1240, 1024, 778, 480],
                        gridwidth: [1140, 992, 700, 465],
                        gridheight: [600, 600, 500, 480],
                        lazyType: "none",
                        parallax: {
                            type: "mouse",
                            origo: "slidercenter",
                            speed: 2000,
                            levels: [2, 3, 4, 5, 6, 7, 12, 16, 10, 50, 46, 47, 48, 49, 50, 55]
                        },
                        shadow: 0,
                        spinner: "off",
                        stopLoop: "off",
                        stopAfterLoops: -1,
                        stopAtSlide: -1,
                        shuffle: "off",
                        autoHeight: "off",
                        hideThumbsOnMobile: "off",
                        hideSliderAtLimit: 0,
                        hideCaptionAtLimit: 0,
                        hideAllCaptionAtLilmit: 0,
                        debugMode: false,
                        fallbacks: {
                            simplifyAll: "off",
                            nextSlideOnWindowFocus: "off",
                            disableFocusListener: false
                        }
                    });
                    
                }
            });	/*ready*/
            
        </script> 
    

</body></html>