<!DOCTYPE html>

<html lang="en" style=""><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>马克学院</title>    
        <!-- Plugins CSS -->
        <link href="/static/MyCourse/static/css/plugins.css" rel="stylesheet">
        <!-- REVOLUTION STYLE SHEETS -->
        <link rel="stylesheet" type="text/css" href="/static/MyCourse/static/css/settings.css">
        <!-- REVOLUTION LAYERS STYLES -->
        <link rel="stylesheet" type="text/css" href="/static/MyCourse/static/css/layers.css">
        <!-- REVOLUTION NAVIGATION STYLES -->
        <link rel="stylesheet" type="text/css" href="/static/MyCourse/static/css/navigation.css?ver=1">
        <!-- load css for cubeportfolio -->
        <link href="/static/MyCourse/static/css/style.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/MyCourse/static/css/font-awesome.min.css">
    
   
    <style>
    .nav-link {
        color: #777 !important;
    }

    
    .box{
      display: -webkit-flex; /* Safari */
      display: flex;
      flex-direction: column;
      justify-content: center ;
      align-items: center ;
    }
    </style>

</head>

    <body>

        <!--/preloader-->

        
        <!-- Site Overlay -->
        <div class="site-overlay"></div>

        <nav class="navbar navbar-expand-lg navbar-light navbar-transparent bg-faded nav-sticky">
            <div class="search-inline">
                <form>
                    <input type="text" class="form-control" placeholder="Type and hit enter...">
                    <button type="submit"><i class="ti-search"></i></button>
                    <a href="javascript:void(0)" class="search-close"><i class="ti-close"></i></a>
                </form>
            </div><!--/search form-->
            <div class="container">

                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img class="logo logo-dark" src="/static/MyCourse/static/images/logo-black.png" alt="">
                    <img class="logo logo-light hidden-md-down" src="/static/MyCourse/static/images/logo-black.png" alt="">
                </a>

                <div id="navbarNavDropdown" class="navbar-collapse collapse">
                    <ul class="navbar-nav ml-auto">
                        <li class=" dropdown active">
                            <a class="nav-link "  href="#">首页</a>
                        </li>

                        <li class=" dropdown active">
                            <a class="nav-link  " dhref="#">我的</a>
                        </li>

                        
                    </ul>        
                </div>
                <div class=" navbar-right-elements">
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="javascript:void(0)" class="search-open"><i class="ti-search"></i></a></li>
                        <li class="list-inline-item"><a href="javascript:void(0)" class=" menu-btn"><i class="ti-shopping-cart"></i> <span class="badge badge-default">3</span></a></li>
                    </ul>
                </div><!--right nav icons-->
            </div>
        </nav>

        <div id="rev_slider_1078_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="classic4export" data-source="gallery" style="margin: 0px auto; background-color: transparent; padding: 0px; overflow: visible; height: 600px;">
           
        
       
        <!--START VIDEO ITEM -->
        <div class=" pt90 pb60">
            <div class="container">
                <div class="title-heading1 mb40">
                    <h3>我的课程</h3>
                </div>
                <div class="row">
                    <div class="col-lg-4 mb30 wow fadeInUp" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <div class="entry-card">
                            <a href="#" class="entry-thumb">
                                <img src="/static/MyCourse/static/images/entry1.jpg" alt="" class="img-fluid">
                                <span class="thumb-hover ti-back-right"></span>
                            </a><!--/entry thumb-->
                            <div class="entry-content">
                                <div class="entry-meta mb5">
                                    <span>
                                        May 15th 2017 
                                    </span>
                                </div>
                                <h4 class="entry-title text-capitalize">
                                    <a href="#">
                                        Manage grid items with bootstrap4 flex box sit amet
                                    </a>
                                </h4>
                               
                            </div><!--/entry content-->
                        </div>
                    </div><!--/.col-->
                    <div class="col-lg-4 mb30 wow fadeInUp" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                        <div class="entry-card">
                            <a href="#" class="entry-thumb">
                                <img src="/static/MyCourse/static/images/entry2.jpg" alt="" class="img-fluid">
                                <span class="thumb-hover ti-back-right"></span>
                            </a><!--/entry thumb-->
                            <div class="entry-content">
                                <div class="entry-meta mb5">
                                    <span>
                                        May 15th 2017 
                                    </span>
                                </div>
                                <h4 class="entry-title text-capitalize">
                                    <a href="#">
                                        Manage grid items with bootstrap4 flex box sit amet
                                    </a>
                                </h4>
                               
                            </div><!--/entry content-->
                        </div>
                    </div><!--/.col-->

                    <div class="col-lg-4 mb30 wow fadeInUp" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                        <div class="entry-card">
                            <a href="#" class="entry-thumb">
                                <img src="/static/MyCourse/static/images/entry3.jpg" alt="" class="img-fluid">
                                <span class="thumb-hover ti-back-right"></span>
                            </a><!--/entry thumb-->
                            <div class="entry-content">
                                <div class="entry-meta mb5">
                                    <span>
                                        May 15th 2017 
                                    </span>
                                </div>
                                <h4 class="entry-title text-capitalize">
                                    <a href="#">
                                        Manage grid items with bootstrap4 flex box sit amet
                                    </a>
                                </h4>
                                
                            </div><!--/entry content-->
                        </div>
                    </div><!--/.col-->
                </div>
            </div>
        </div><!--news-->

    

        <!--START FOOTER -->
        <footer class="footer footer-standard pt20 pb10">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 mb10">
                        <h3>关于我们</h3>
                        <p>
                            4个可爱的程序员+一个老男人，不畏世俗，不卑不亢，用自己的方式诠释这生命的意义，书写着人生的篇章~。联系方式mark_college@163.com
                        </p>
                    </div>
                    
                </div>
            </div>
        </footer><!--/footer-->

        <div class="footer-bottomAlt">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        
                    </div>
                    <div class="col-lg-5">
                        <span>© Copyright 2017. All Right Reserved</span>
                    </div>
                </div>
            </div>
        </div><!--/footer bottom-->
        
        <!-- jQuery first, then Tether, then Bootstrap JS. -->
        <script type="text/javascript" src="/static/MyCourse/static/js/plugins.js"></script> 
        <script type="text/javascript" src="/static/MyCourse/static/js/assan.custom.js"></script> 
        
        <!-- REVOLUTION JS FILES -->
        <script type="text/javascript" src="/static/MyCourse/static/js/jquery.themepunch.tools.min.js"></script>
       

</body>
</html>

