<!--adv main template-->
<script type="text/template" id="adv-template">

    <li id="<%- id %>" data-form='<%- form %>' data-id='<%- id %>' data-sort='<%- sort %>' data-type='<%- type %>'
        onclick='formView.onItemSelect(this);'>
        <span name="title" style='display:none'>adv标题</span>
        <!--轮播图-->
        <div id="app-adv">

            <div class="app-adv">

                <div class="container-fluid">
                    <div class="row">
                        <div id="<%- adv_id %>">

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </li>
</script>

<!--adv item template-->
<script type="text/template" id="adv-item-template">
    <div class="v">
        <div class="v-adv-thumb">
            <div class="v-pic-real"
                 style="background-image:url('<%- item_img %>');"></div>
        </div>
    </div>
</script>
