body {
	background: #f4f4f4;
	height: 100%
}

.wrap {
	padding: 20px 10px 0 10px
}

.form-item input {
	height: 40px;
	border: 1px solid #eee;
	padding: 0 10px;
	font-size: 14px
}

.phone-wrap {
	-webkit-box-flex: 1;
	box-flex: 1
}

.tip {
	line-height: 19px;
	color: #999
}

.tip a {
	color: #fda702;
	margin-left: 3px
}

.btn-next {
	margin-top: 20px;
	height: 40px;
	line-height: 40px;
	border-radius: 20px;
	background: #f3ccd7;
	color: #fff
}

.btn-active {
	background-color: #ec2a60;
	color: #fff
}

[v-cloak] {
	display: none
}

.fade-enter-active,
.fade-leave-active {
	transition: opacity .5s
}

.fade-enter,
.fade-leave-active {
	opacity: 0
}

.deal {
	font-size: 12px;
	text-align: left;
	padding: 15px 0 25px 0
}

.deal a {
	display: inline-block;
	color: #ffc107;
	padding: 3px
}

.deal span {
	display: inline-block;
	height: 13px;
	width: 13px;
	position: relative;
	top: 2px;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	border: 1px solid #a7a9ac;
	margin-right: 5px
}

.deal .icon-check {
	background: #ffc107;
	border: 1px solid #ffc107
}

.icon-check:after,
.icon-check:before {
	content: '';
	height: 8px;
	width: 2px;
	display: block;
	background: #fff;
	position: absolute;
	top: 3px;
	left: 7px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg)
}

.icon-check:before {
	height: 5px;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	top: 5px;
	left: 3px
}

.upload-img {
	position: relative;
	height: 140px;
	margin: 15px 3px;
	padding: 1px;
	box-sizing: border-box
}

.upload-img img {
	width: 100%;
	height: 100%
}

.upload-img q .uploadFile {
	position: absolute;
	top: 0;
	display: block;
	width: 100%;
	height: 100%;
	opacity: 0
}

.upload-img q .icon-upload {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	border: 1px dashed #bbb;
	background-color: #fafafa;
	opacity: 1;
	background-color: #fff
}

.upload-img q .icon-upload:before {
	content: "";
	position: relative;
	top: 50%;
	display: block;
	width: 2px;
	height: 40px;
	background: #bbb;
	margin: -35px auto 0 auto
}

.upload-img q .icon-upload:after {
	content: "";
	position: relative;
	top: 50%;
	left: 50%;
	margin: -20px 0 0 -20px;
	display: block;
	width: 40px;
	height: 2px;
	background: #bbb
}

.upload-img q .des {
	position: absolute;
	display: block;
	width: 100%;
	top: 50%;
	left: 0;
	text-align: center;
	margin-top: 20px;
	font-size: 14px;
	color: #b3b3b3
}

.exampleTitle {
	display: block;
	padding-bottom: 10px;
	color: #888;
	font-weight: 700;
	font-size: 14px
}

.example img {
	float: left;
	width: 40%
}

.example ol {
	float: left;
	width: 46%;
	line-height: 22px;
	color: #999;
	margin-left: 9%;
	margin-top: -4px
}

.example ol li {
	list-style: square
}

.hasProve {
	text-align: center;
	font-size: 16px;
	color: #444
}

.hasProve p {
	display: block;
	background: url(//static.huajiao.com/huajiao/activity/resource_dev/dealwith/img/success-11370c232a.png) center center no-repeat;
	width: 200px;
	height: 132px;
	background-size: 100%;
	margin: 90px auto 15px auto
}

.serviceMsg {
	border-top: 1px solid #ddd;
	padding: 10px 0 15px 0;
	text-align: center;
	line-height: 20px
}

.layer {
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, .6);
	z-index: 999;
	width: 100%;
	height: 100%
}

.pop-wrap {
	width: 100%;
	height: 100%;
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: center
}

.pop {
	width: 80%;
	padding: 25px 0 25px;
	background: #f9f9f9;
	text-align: center;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	font-size: 14px;
	z-index: 999;
	top: 150px;
	position: absolute
}

.pop .btn_blue {
	display: block;
	margin: 25px 25px 0 25px;
	height: 35px;
	line-height: 35px;
	background: #fa3a70;
	color: #fff;
	text-align: center;
	font-size: 16px;
	border-radius: 15px;
	-webkit-border-radius: 15px
}

.pop p {
	padding: 0 15px;
	line-height: 20px
}

.pop h2 {
	font-size: 18px;
	padding-bottom: 25px
}

.pop1 h2,
.pop1 li {
	border-bottom: 1px solid #e3e3e3
}

.pop ul,
.pop1 p {
	padding: 0 17px
}

.pop1 li {
	height: 56px;
	line-height: 56px
}

.pop1 .btn_blue {
	width: 135px
}

.pop1 .btn_grey {
	width: 135px;
	height: 44px;
	border: 1px solid #ddd;
	line-height: 44px;
	margin-top: 25px
}