	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	
	html,
	body {
		width: 100%;
		height: 100%;
		font-family: -apple-system, BlinkMacSystemFont, PingFang SC, Helvetica, Tahoma, Arial, Hiragino Sans GB, Microsoft YaHei, SimSun, Heiti, sans-serif !important;
		background-color: #FFF !important;
	}
	
	@media screen and (min-width: 769px) {
		html,
		body {
			width: 460px;
			margin: 0 auto;
		}
		body {
			/*box-shadow: 0 0 30px gray;*/
			background-color: #FFF !important;
		}
	}
	
	a {
		position: relative;
		text-decoration: none;
		cursor: pointer;
	}
	
	span {
		font-family: -apple-system, BlinkMacSystemFont, PingFang SC, Helvetica, Tahoma, Arial, Hiragino Sans GB, Microsoft YaHei, SimSun, Heiti, sans-serif !important;
		font-size: 14px !important;
		line-height: 1.6 !important;
	}
	
	.mui-card {
		padding: 20px 20px 100px 20px;
		box-shadow: 0 0px 2px rgba(0, 0, 0, .3);
	}
	
	.mui-card h4 {
		font-size: 16px;
		font-weight: normal;
		margin-bottom: 10px;
	}
	
	.fright {
		float: right;
		margin-right: 12px;
		margin-top: 6px;
	}
	
	.fleft {
		float: left;
		margin-top: 6px;
	}
	
	.hide {
		display: none;
	}
	
	.back {
		margin-right: 10px;
		margin-top: 6px;
		margin-left: 10px;
		color: #fcb200;
	}
	
	.pt5 {
		padding-top: 10px;
	}
	
	.center {
		text-align: center;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	
	img {
		width: 100%;
	}
	.pcolor{
		color: #8f8f94!important;
	}
	
	p span{
		color: #8f8f94!important;
	}
	