.app-preview .app-field {
    background-color: #f9f9f9 ! important;
}

.app-preview {
    position: relative;
    float: left;
    width: 350px;
    border: 1px solid #e5e5e5;
    border-bottom-width: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    border-radius: 18px 18px 0 0;
    margin: 10px;
}

.app-preview .app-header {
    height: 70px;
    background: url("iphone_head.png") no-repeat center center;
}

.app-preview .app-entry {
    width: 320px;
    margin: 0 auto;
    padding-bottom: 11px;
    min-height: 200px;
    border: 1px solid #c5c5c5;
    background: #f9f9f9;
}

.app-sidebar {
    position: relative;
    float: left;
    width: 480px;
    margin-left: 20px;
    padding-bottom: 20px;
    font-size: 14px;
}

.app-sidebar .arrow, .app-sidebar .arrow:after {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 8px 10px 8px 0;
    border-color: transparent #d1d1d1 transparent transparent;
    position: absolute;
    left: -10px;
    top: 19px;
}

.app-sidebar .arrow:after {
    content: "";
    border-right-color: #f8f8f8;
    left: 1px;
    top: -8px
}

.app-sidebar .app-sidebar-inner {
    padding: 12px 10px;
    min-height: 28px;
    background: #f8f8f8;
    border-radius: 5px;
    border: 1px solid #d1d1d1;
}

.form-horizontal .control-group {
    margin-bottom: 10px;
}

.app-sidebar .control-label {
    width: 87px;
    cursor: default;
}

.app-actions {
  
    bottom: 0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(161, 255, 216, 0.35);
    clear: both;
    text-align: center;
    z-index: 2;
}

.app-add-field {
    margin-bottom: 50px;
}

.form-video-list {
    padding: 0;
}

.form-video-list li {
    position: relative;
    float: left;
    display: block;
    margin: 0 10px 10px 0;
    /*width: 50px;*/
    /*height: 25px;*/
    border: 1px solid #ddd;
    background-color: #fff;
}
.form-video-list li.v-vimg {
    width: 40px;
    height: 60px;
}

.form-tags-list li.v-tags {
    margin-top: 3px;
}

.form-tags-list li.v-tags:hover {
    border: 1px dashed #f1f1f1;
}


.form-video-list li .v-list-edit {
    position: absolute;
    display: none;
    z-index: 2;
    top: -9px;
    right: -9px;
    width: 18px;
    height: 18px;
    font-size: 14px;
    line-height: 16px;
    border-radius: 9px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    background: rgba(153, 153, 153, 0.6);
}


.form-video-list li .v-list-edit:hover {
    background: rgba(94, 94, 94, 0.60);
}

.little-form-control {
    height: 25px;
    padding: 3px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
