<!--carousel main template-->
<script type="text/template" id="image-text-template">

    <li id="<%- id %>" data-form='<%- form %>' data-id='<%- id %>' data-sort='<%- sort %>' data-type='<%- type %>'
        onclick='formView.onItemSelect(this);'>
        <span name="title"><%- title %></span>
        <div class="app-box">
            <div id="<%- image_text_id %>">

            </div>
        </div>
    </li>
</script>

<!--image-text item template-->
<script type="text/template" id="image-text-item-template">

<div class="app-image-text" style="min-height: 75px;height:75px;overflow: hidden;">
    <div class="col-md-4" style="width:46%">
        <div class="v">
            <div class="v-thumb">
                <div class="v-pic-default">
                    <img src="/static/home/img/mobile/video_defaultpic2.png">
                </div>
                <div class="v-pic-real"
                     style="background-image:url('<%- item_img %>');">
                </div>

                <div class="v-overlay"></div>
                <div class="v-description v-large">
                    <div class="v-title">
                        <span class="v-num image-text-summary"><%- item_summary %></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8" style="width:54%">
        <span class="image-text-header" style="font-weight: bold;"><%- item_title %></span>
        <div class="image-text-description"><%- item_sub_title %></div>
    </div>
</div>
</script>
