<script type="text/template" id="v-box-template">

    <li id="<%- id %>" data-form='<%- form %>' data-id='<%- id %>' data-sort='<%- sort %>' data-type='<%- type %>'
        onclick='formView.onItemSelect(this);'>
        <span name="title"><%- box_name %></span>

        <div id="app-box">
            <!--盒子-->
            <div class="app-box">

                <div class="container-fluid">
                    <div class="row">
                        <div id="<%- box_id %>">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
</script>

<script type="text/template" id="v-box-item-template">
    <div class="col-xs-4">
        <div class="v">
            <div class="v-thumb v-vthumb">
                <div class="v-pic-real"
                     style="background-image:url('<%- item_img %>');"></div>
                <div class="v-overlay"></div>
                <div class="v-description v-large">
                    <div class="v-title">
                        <span class="v-num"><%- item_summary %></span>
                    </div>
                </div>
            </div>

            <div class="v-metadata">
                <div class="v-title pull-left">
                    <span><%- item_title %></span>
                </div>
                <div class="v-subtitle pull-left" style="overflow: hidden;height: 20px;">
                    <span class="v-num"><%- item_subtitle %></span>
                </div>
            </div>
        </div>
    </div>
</script>