<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>抓取粉笔数据统计</title>
  <script src="/static/js/jquery-1.11.3.min.js"></script>
  <script src="http://cdn.bootcss.com/echarts/3.3.2/echarts.common.min.js"></script>
  <!-- <link rel="stylesheet" href="bootstrap.min.css"> -->
  <style>
  * {
    margin: 0;
    padding: 0;
  }

  body>* {
    margin: auto;
  }

  #main, #diff {
    width: 90%;
    height: 600px;
  }
  /*    .table {
      width: 90%;
    }*/
  </style>
</head>

<body>
  <div id="main"></div>
  <div id="diff"></div>
  <!-- <table class="table table-striped table-hover table-responsive">
    <caption>基本的表格布局</caption>
    <thead>
      <tr>
        <th>日期</th>
        <th>项目1</th>
        <th>项目1</th>
        <th>项目1</th>
        <th>项目1</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>2017-01-02</td>
        <td>233242</td>
        <td>233242</td>
        <td>233242</td>
        <td>233242</td>
      </tr>
      <tr>
        <td>2017-01-02</td>
        <td>233242</td>
        <td>233242</td>
        <td>233242</td>
        <td>233242</td>
      </tr>
    </tbody>
    </table> -->
</body>
<script type="text/javascript">
var json = JSON.parse('{% raw result %}'),
    subjects = [],
    dates = [],
    seriesData = [];

for (var i in json) {
  subjects.push(i);
  // console.log(i+";"+json[i][0]+";"+json[i][1]);
  if (dates.length == 0) {
    dates = json[i][0];
  }
  var obj = {
    name: i,
    type: 'line',
    data: json[i][1],
  }
  seriesData.push(obj);
}

// console.log(subjects);
// console.log(dates);
// console.log(seriesData);

// 基于准备好的dom，初始化echarts实例
var myChart = echarts.init(document.getElementById('main'));

// 指定图表的配置项和数据
var option = {
  // 提示框组件
  title:{
    text: '粉笔公布的用户数据'
  },
  // 工具箱
  toolbox: {
    feature: {
      dataView: {
        show: true,
        readOnly: false
      },
      magicType: {
        show: true,
        type: ['line', 'bar']
      },
      restore: {
        show: true
      },
      saveAsImage: {
        show: true
      }
    }
  },
  // 图例
  legend: {
    data: subjects,
    bottom: 0,
  },
  // 坐标轴（多个）
  xAxis: [{
    type: 'category',
    data: dates
  }],
  yAxis: [{
    type: 'value',
  }],
  // 数据集
  series: seriesData,
};

// 使用刚指定的配置项和数据显示图表。
myChart.setOption(option);

function diff(arr) {
  if (arr.length < 2) {
    return false;
  }
  var re = [];
  for (var i = 1; i < arr.length; i++) {
    re.push(arr[i] - arr[i - 1]);
  }
  return re;
}

var myChart2 = echarts.init(document.getElementById('diff'));
var seriesData2 = seriesData;
for(var i=0; i<seriesData2.length; i++){
  seriesData2[i]['type']='bar';
  seriesData2[i]['data']=diff(seriesData2[i]['data']);
}
dates.shift();
var option2 = {
  // 提示框组件
  title:{
    text: '使用数量增长趋势(相对于前一天)'
  },
  // 工具箱
  toolbox: {
    feature: {
      dataView: {
        show: true,
        readOnly: false
      },
      magicType: {
        show: true,
        type: ['line', 'bar']
      },
      restore: {
        show: true
      },
      saveAsImage: {
        show: true
      }
    }
  },
  // 图例
  legend: {
    data: subjects,
    bottom: 0,
  },
  // 坐标轴（多个）
  xAxis: [{
    type: 'category',
    data: dates
  }],
  yAxis: [{
    type: 'value',
  }],
  // 数据集
  series: seriesData2,
};
myChart2.setOption(option2);
</script>

</html>
