<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>必胜课-登录</title>
    <link rel="stylesheet" href="http://i.winlesson.com/css/base.css" />
    <link rel="stylesheet" href="http://i.winlesson.com/css/login.css " />

    <script src="http://i.winlesson.com/js/jquery-3.1.1.min.js"></script>
    <script src="http://i.winlesson.com/js/md5.js"></script>

    <script src="http://i.winlesson.com/js/base.js"> </script>
    <script src="http://i.winlesson.com/js/style.js"></script>

</head>
<body>
	<div class="logo_box">
		<img src="http://i.winlesson.com/images/logo.png" alt="" />
	</div>
	
	<div class="login_box">
		<div class="phone_num">
			<img src="http://i.winlesson.com/images/user.png" alt="" />
			<input type="text" placeholder="请输入手机号" id="phone_num"/>
		</div>
		
		<div class="phone_num">
			<img src="http://i.winlesson.com/images/mima.png" alt="" />
			<input type="password" placeholder='请输入密码' id="password"/>
		</div>

		<div class="login_btn">
			<div class="enter" id="login">登录</div>
			<div class="sign_in" id="sign">注册</div>
		</div>
        <input type="hidden" id="next" value="{{next}}">
	</div>
	
	<!--<div class="err_msg">登录失败，账号或密码错误</div>-->

<script>

$(function(){
	$("#sign").click(function(){
	    var next = $("#next").val();
		window.location.href='/api/pay/sign?next='+next;
	});

	$("#login").click(function(){
		$.ajax({
			url: '/api/pay/login',
			method: 'POST',
			data: {
				phone_num: $("#phone_num").val(),
				password: $("#password").val(),
			},
			dataType: 'JSON',
			success: function(data){
				if(data["msg"]=="ok"){
				    var next = $("#next").val();
					if (next){
						window.location.href=next;
					} else {
						window.location.href="/api/pay/lesson/purchase/";
					}
				} else {
					alert("登录失败！" + data["msg"]);
				}
			},
			error: function(){
				alert("登录失败!")
			}
		});
	});
})

</script>

</body>
</html>