<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>支付成功</title>
    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href="/css/login.css" />

    <script src="/js/jquery-3.1.1.min.js"></script>
    <script src="/js/base.js"> </script>
    <script src="/js/style.js"></script>
    
</head>
<body>
	<header class="successed_top">
		<div class="success_img">
			<img src="/images/zhifuchenggong@2x.png" alt="" />
		</div>
		
		<div class="success_msg_">
			<span>订单已支付成功</span>
			<div class="clearfix">
				<img src="/images/Line@2x.png" alt="" />
				<img src="/images/Line@2x.png" alt="" />
			</div>
			<!--<span>订单编号：123456789</span>-->
		</div>
	</header>
	
	<footer class="listen_way">
		<div>
			<p>听课方式1:</p>
      		<p>登录必胜课官网<a href="http://www.winlesson.com">www.winlesson.com</a></p>
		</div>
		
		<div>
			<p>听课方式2:</p>
			<p>识别下方二维码下载必胜课APP</p>
		</div>
	</footer>
	
	<section class="load_app">
		<img src="/images/wancheng_app@2x.png" alt="" />
	</section>
</body>
</html>