<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="format-detection" content="telphone=no, email=no" />
  <title>必胜公考-问答分享</title>
  <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="http://img.winlesson.com/css/q-and-a.css"> </head>
<!-- 说明：
  按需加载模块。模块注释有序号。以下为可能忽略的部分：
  1、页首课程链接：
    a标签可以删除，如使用需要设置url；
    #class-rating：直接填入5以内的数字，自动输出默认字体的五角星，填入非数字则显示原文，范围以外数字报错；
  2、.answered 为“已回答”状态，加 .not则为“待回答”状态。
  5、问题相关视频，如果需要使用腾讯视频控件，需要修改video标签为指定id并提供视频源，并加载腾讯视频相关脚本；
  学生部分 和 教师回答 按需重复使用。
  7、追加问题 和 追加回答 按需重复使用。
-->

<body>
  <!-- 1、页首课程链接 -->

  {% if questionInfo.courseInfo %}
  <a id="course">
    <input type="hidden" name="course_id" value="{{questionInfo.courseInfo.courseId}}">
    <div class="classbg">
      <img src="{{questionInfo.courseInfo.courseCover}}">
      <p class="name">{{questionInfo.courseInfo.courseName}}</p>
      <p class="info">
        <span id="class-rating">5</span>
        <span id="class-listeners">{{questionInfo.courseInfo.subscribeNum}}</span>
      </p>
      <p class="teachers">
        {% if questionInfo.courseInfo.teacherInfo %}
        {% for teacher in questionInfo.courseInfo.teacherInfo %}
          <span>{{teacher.teacherName}}</span>&nbsp;
        {% end %}
        {% end %}
      </p>
    </div>
  </a>
  {% end %}


  <!-- 内容区 -->
  <div class="body">
    <!-- 2、右上角“已回答” -->
    {% if questionInfo.hasAnswered %}
    <div class="answered">
    {% else %}
    <div class="answered not">
    {% end %}
      <span class="answered-icon"></span>
      <span class="answered-true">已回答</span>
      <span class="answered-false">待回答</span>
    </div>


    <!-- 问题部分 -->
    <div class="student">
      <div class="header cf">
        <div class="portrait">
          <img src="{{questionInfo.userInfo.imageUrl}}">
        </div>
        <p class="name">{{questionInfo.userInfo.nickname}}</p>
        <p class="time">{{questionInfo.commentTime}}</p>
      </div>
      <div class="content">
        <!-- 3、学生提问内容 -->
        <p> {{questionInfo.reviewContent}} </p>
        <!-- 4、问题相关图片 -->
        {% if questionInfo.reviewPic %}
        <img src="{{questionInfo.reviewPic}}">
        {% end %}

        <!-- 6、问题相关描述 -->
        {% if questionInfo.subjectInfo %}
        <blockquote class="question" id="subject">
          <input type="hidden" id="subject_id" name="subject_id" value="{{questionInfo.subjectInfo.subjectId}}">
          <p>{% raw questionInfo.subjectInfo.materialDecript %}</p>
          <p>{% raw questionInfo.subjectInfo.subjectDes %}</p>
        </blockquote>
        {% end %}
      </div>
    </div>
    <!-- 问题部分结束 -->

    <!-- 评论回答 -->
    {% if questionReviewList %}
      {%  set index = 0 %}
      {% for review in questionReviewList %}

          {% if index > 0 %}
            {% if review.userInfo.type == 1 %}
            <h5 class="divide"><span>追加回答</span></h5>
            {% else %}
            <h5 class="divide"><span>追加问题</span></h5>
            {% end %}
          {% end %}
        {% set index += 1 %}

        <div class="teacher">
          <div class="header cf">
            <img class="portrait" src="{{review.userInfo.imageUrl}}">
            <p class="name">{{review.userInfo.nickname}}<span>
              {% if review.userInfo.type == '1' %}
              {{review.userInfo.ranks}}
              {% end %}
            </span>
            </p>
          </div>
          <div class="content">
            <p>{{review.reviewContent}}</p>
            <p class="time">{{review.commentTime}}</p>
          </div>
        </div>

      {% end %}<!--end for -->
    {% end %}

  </div>


  <!-- APP下载 -->
  <section id="v-code" class="v-code cf">
    <a href="http://a.app.qq.com/o/simple.jsp?pkgname=gwy.winlesson.app">
      <img src="http://img.winlesson.com/img/applogo1024@2x.png">
      <p> <b>下载必胜公考APP</b>
        <br/> 第一时间掌握最新资讯 </p>
      <img id="quit" class="quit" src="http://img.winlesson.com/img/white@1x.png">
      <div class="btn">立即下载</div>
    </a>
  </section>

</div>
</body>

<script>
  document.getElementById('quit').onclick = function()
    {
      document.getElementById('v-code').style.display = "none";
      return false;
    }
    // 评分：
  function getRating(rating)
  {
    if (isNaN(parseInt(rating))) return rating;
    rating = parseInt(rating);
    if (rating > 5 || rating < 0) throw new Error('数字不在范围内');
    return '★★★★★☆☆☆☆☆'.substring(5 - rating, 10 - rating);
  }

  $(function(){
      //document.getElementById("class-rating").innerHTML = getRating(document.getElementById("class-rating").innerHTML);
      $('#class-rating').html(getRating($('#class-rating').html()))
      $("#subject").click(function(){
          var subject_id = $("#subject_id").val();
          window.location.href = "/api/bskgk/share/subject/content"+"?subjectId="+subject_id+"&hasAnalysis=1&userid=0"
      });

      $("#course").click(function(){
          var course_id = $("input[name='course_id']").val();
          window.location.href = "/api/bskgk/share/course/play"+"?courseId="+course_id;
      });

  });

</script>

</html>

