{% load roles %}

<dl class="menu no_extra">
    <dt class="menu_title">
        <button class="btn btn-primary" data-toggle="modal" data-target="#create_app">创建一个新应用</button>
        <br/>
    </dt>

    
    {% with app_id=1%}

         
        <!-- 系统 -->
        <dt class="menu_subtitle">
            <i class="glyphicon glyphicon-th-large"></i>
            &nbsp;系统
        </dt>
        <dd class="menu_item" data-content-id="app" data-menu-id="1">
            <a href="{% url 'system_user_list' %}">系统用户</a>
        </dd>



    {% endwith %}
</dl>