<!DOCTYPE html>


<head xmlns="http://www.w3.org/1999/html">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="renderer" content="webkit">

<link href="bootstrap-3/css/bootstrap.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" type="text/css" href="css/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="js/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="js/slick/slick-theme.css"/>
<link rel="stylesheet" type="text/css" href="css/myslicker.css"/>
<link rel="stylesheet" type="text/css" href="css/layout.css"/>
<link rel="stylesheet" type="text/css" href="css/layout_item.css"/>

<script src="js/json2.js"></script>
<script src="js/jquery-1.10.2.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/slick/slick.min.js"></script>

<script src="js/underscore.js"></script>
<script src="js/backbone.js"></script>
<script src="js/backbone-relational.js"></script>


<style type="text/css">
    a:hover {
        text-decoration: none;
    }

    ol, ul {
        list-style: none;
    }

    #sortable {
        list-style-type: none;
        margin: 0 auto;
        padding: 0;
        width: 96%;
    }

    #sortable li {
        margin: 2px 2px;
        padding: 0px;
        font-size: 1.2em;
    }

    html>body #sortable li {
        line-height: 1.2em;
    }
    .js-add-region{width: 320px;}
</style>


<script type="text/javascript">


$(document).ready(function () {
    $("#sortable").sortable({
        stop: function (event, ui) {
            var i = 0;
            $('#sortable li[id^="module_"]').each(function (_this) {
                this.setAttribute("data-sort", i + 1);
                var li_data = dataList.get_id(this.getAttribute("id"));
                li_data.set('module_sort', i + 1);
                i++;
            });
            dataList.my_sort();
            onItemSelect(ui.item[0]);

            debug_log(dataList);
        }
    });
    $(".vl-sortable").sortable({
        stop: function () {
            var i = 0;
            var _obj = dataList.get_index(current_index);
            if (_obj.has('items')) {
                var _now_data = _obj.get('items')
                var _len = _now_data.length
            }else {
                return
            }
            $(this).find('li[id^="item_"]').each(function (_this) {
                this.setAttribute("data-sort", i);
                for (var j = 0; j < _len; j++) {
                    if (_now_data[j].get("item_id") == this.getAttribute("id")) {
                        _now_data[j].set("sort", i);
                        break;
                    }
                }
                i++;
            });
            _now_data.sort(function (a, b) {
                return a.get("sort") - b.get("sort")
            });
            reset_item(true);
            debug_log(dataList);
        }
    })
});


/* view */

//type define

var TYPE_HEAD = 0;
var TYPE_CAROUSEL = 1;
var TYPE_BOX = 2;

var TYPE_HEAD_Name = "head";
var TYPE_CAROUSEL_Name = "carousels";
var TYPE_BOX_Name = "box";

var TYPE_DICK = {
    "head":0,
    "carousels":1,
    "box":2
}

var sort_index = 1;
var current_index = 0;
var default_form = "title_form";

var videoList = []

function onItemSelect(_this) {
    do_save(TYPE_DICK[dataList.get_index(current_index).get("type")]);

    var _id = _this.getAttribute('id');
    var _type = _this.getAttribute('data-type');
    var _form = _this.getAttribute('data-form');
    var _sort = _this.getAttribute('data-sort');//$(_this).data("sort");
    if (!_sort) {
        _sort = 0;
    }
    if (!_type) {
        _type = 0;
    }
    //console.log(_sort);
    current_index = _sort;

    switch (_type) {
        case TYPE_HEAD:
            console.log("here head");
            _form = 'title_form';
            break;
        case TYPE_CAROUSEL:
            console.log("here c");
            _form = 'carousel_form';
            break;
        case TYPE_BOX:
            console.log("here box");
            _form = 'box_form';
            break;
        default:
            break;
    }
    //根据数据结构给form表填写信息
    var _current_data = dataList.get_index(current_index);
    $('#' + _form + ' #title').val(_current_data.get('title'))
    if (_current_data.has('title_link')) {
        $('#' + _form + ' #url').val(_current_data.get('title_link'))
    }
    //填写视频选择
    add_video_list(_form, _current_data);

    //************//

    change_form(_form);
    var pos = $(_this).position();
    $("#app-sidebar").animate({ 'top': pos.top + 'px'}, 200, function () {
    });
}

function add_video_list(_form, _obj) {
    if (_obj.has('items')) {
        var _now_data = _obj.get('items')
        var _len = _now_data.length
    }else {
        return
    }
    $("#" + _form + " #s-video-list .form-video-list").empty();
    if (_len != 0) {
        var smallVideoListView = new SmallVideoListView
        $("#" + _form + " #s-video-list").show()
        for (var i = 0; i < _len; i++) {
            $("#" + _form + " #s-video-list .form-video-list").append(
                    smallVideoListView.render(_now_data[i].get("image_url"), _now_data[i].get("sort"), _now_data[i].get("item_id"))
            )
        }
        /*显示事件*/
        $(".form-video-list li").hover(function () {
            $(this).find('a.v-list-edit').show();
        }, function () {
            $(this).find('a.v-list-edit').hide();
        })
    } else {
        $("#" + _form + " #s-video-list").hide()
    }
}

function update_title(_id, _title) {
    $('#' + _id + ' [name="title"]').html(_title);
}

function init_form(_form) {
    if ($('#' + _form + ' #title')) {
        $('#' + _form + ' #title').val("")
    }
    if ($('#' + _form + ' #url')) {
        $('#' + _form + ' #url').val("")
    }
    $("#" + _form + " #s-video-list .form-video-list").empty();
    //根据数据结构给form表填写信息
    var _current_data = dataList.get_index(current_index);
    $('#' + _form + ' #title').val(_current_data.get('title'))
    if (_current_data.has('title_link')) {
        $('#' + _form + ' #url').val(_current_data.get('title_link'))
    }
    //填写视频选择
    add_video_list(_form, _current_data);

    //************//
}

function do_save(i) {
    var _change_data = dataList.get_index(current_index);
    var _form = 'none_form';
    switch (i) {
        case TYPE_HEAD:
            console.log("here head");
            _form = 'title_form';
            break;
        case TYPE_CAROUSEL:
            console.log("here c");
            _form = 'carousel_form';
            break;
        case TYPE_BOX:
            console.log("here box");
            _form = 'box_form';
            break;
        default:
            break;
    }

    //修改数据结构内容
    _change_data.set('title', $("#" + _form + " #title").val());
    if (_change_data.has('title_link')) {
        _change_data.set('title_link', $("#" + _form + " #url").val());
    }

    //*********//
    update_title(_change_data.get('module_id'), _change_data.get('title'));
    debug_log(dataList)
}


function change_form(change_form_to) {
    /*show form*/
    $("#" + default_form).hide();
    $("#" + change_form_to).show();
    default_form = change_form_to;
}

function empty_carousel(_carousel_id, i) {
    for (i; i > 0; i--) {
        $('#' + _carousel_id).slick('slickRemove', i - 1);
    }
}
function add_carousel(_carousel_id, url, title) {
    var carousulItemView = new CarousulItemView;
    $('#' + _carousel_id).slick('slickAdd', carousulItemView.render(url, title));
}
function add_box(box_id, url, title, summary, subtitle) {
    var boxItemView = new BoxItemView;
    $('#' + box_id).append(boxItemView.render(url, title, summary, subtitle));

}


function reset_item(_refresh) {
    var _change_data = dataList.get_index(current_index);
    var _type = _change_data.get('type');
    var _form;
    switch (_type) {
        case TYPE_HEAD_Name:
            console.log("here head");
            _form = 'title_form';
            break;
        case TYPE_CAROUSEL_Name:
            console.log("here c");
            _form = 'carousel_form';
            reset_carousel(_change_data, _refresh);
            break;
        case TYPE_BOX_Name:
            console.log("here box");
            _form = 'box_form';
            reset_box(_change_data, _refresh);
            break;
        default:
            break;
    }
    add_video_list(_form, _change_data)
}

function reset_carousel(_obj, _refresh) {
    var _carousel_id = _obj.get('carousel_id');
    var _len = _obj.get("items").length;
    if (_len == 0) {
        empty_carousel(_carousel_id, 2)
    } else {
        empty_carousel(_carousel_id, _len+1)
    }
    if (!_refresh) {
        delete_item(_obj, "items");
        for (var v in videoList) {
            add_carousel_item(_obj, videoList[v].title, videoList[v].videoid, videoList[v].img_hd, v);
        }
    }
    _len = _obj.get("items").length;
    if (_len) {
        for (var i = 0; i < _len; i++) {
            add_carousel(_carousel_id, _obj.get("items")[i].get("image_url"), _obj.get("items")[i].get("title"))
        }
    } else {
        add_carousel(_carousel_id, "http://r3.ykimg.com/05100000557EF64A6714C071A70CDCBF", "轮播图")
        add_carousel(_carousel_id, "http://r3.ykimg.com/05100000557EF64A6714C071A70CDCBF", "轮播图")
    }
}

function add_carousel_item(_obj, title, video_link, image_url, sort) {
    var carouselModel = new CarouselModel();
    carouselModel.set({
        title: title,
        video_link: video_link,
        image_url: image_url,//"http://r3.ykimg.com/05100000557EF64A6714C071A70CDCBF",
        item_id: "item_carousel_" + sort,
        sort: sort
    })
    _obj.get("items").push(carouselModel);
    debug_log(_obj)
}


function reset_box(_obj, _refresh) {
    var _box_id = _obj.get('box_id');
    //var _len = _obj.get("items").length;
    $('#' + _box_id).empty();
    if (!_refresh) {
        delete_item(_obj, "items");
        for (var v in videoList) {
            add_box_item(_obj, videoList[v].title, videoList[v].pubdate, videoList[v].cats, videoList[v].videoid, videoList[v].img_hd, v);
        }
    }
    var _len = _obj.get("items").length;
    if (_len) {
        for (var i = 0; i < _len; i++) {
            add_box(_box_id, _obj.get("items")[i].get("image_url"), _obj.get("items")[i].get("title"),
                    _obj.get("items")[i].get("summary"), _obj.get("items")[i].get("sub_title"));
        }
    } else {
        add_box(_box_id, "http://r3.ykimg.com/05100000557EF64A6714C071A70CDCBF", "视频标题", "腰封", "副标题")
        add_box(_box_id, "http://r3.ykimg.com/05100000557EF64A6714C071A70CDCBF", "视频标题", "腰封", "副标题")
    }
}

function add_box_item(_obj, title, summary, sub_title, video_link, image_url, sort) {
    var boxVideoModel = new VideoModel();
    boxVideoModel.set({
        summary: summary,
        image_url: image_url,
        video_link: video_link,
        title: title,
        sub_title: sub_title,
        item_id: "item_box_" + sort,
        sort: sort
    })
    _obj.get("items").push(boxVideoModel);
    debug_log(_obj)
}
function delete_item(_obj, _type) {
    while (_obj.get(_type).length) {
        _obj.get(_type).pop(_obj.get(_type).length);
    }
}

$(document).ready(function () {

    /* 处理轮播图事件 */
    $("#btn_carousel").click(function () {
        do_save(TYPE_DICK[dataList.get_index(current_index).get("type")]);
        var carouselView = new CarouselView;
        carouselView.render();
    });

    /* 处理盒子事件 */
    $("#btn_box").click(function () {
        do_save(TYPE_DICK[dataList.get_index(current_index).get("type")]);
        var boxView = new BoxView;
        boxView.render();
    });

    /* test1事件 */
    $("#test_box_1").click(function () {
        //reset_carousel();
        //empty_carousel();
    });

    /* test2事件 */
    $("#test_box_2").click(function () {
        //add_video(1)
        //empty_carousel();
    });
    init_form("title_form")
});

function save_data(_this) {
    if (_this.getAttribute('data-type') != "0") {

        _this.setAttribute('data-type', '0');
        _this.setAttribute('class', 'btn btn-lg btn-default');
        _this.innerHTML = '添加';
        var redata = eval("(" + _this.getAttribute('data-value') + ")")
        for (var i = 0; i < videoList.length; i++) {
            if (_.isEqual(videoList[i], redata)) {
                videoList.splice(i, 1);
                break;
            }
        }

    } else {

        _this.setAttribute('data-type', '1');
        _this.setAttribute('class', 'btn btn-lg btn-primary');
        _this.innerHTML = '取消';
        //save videoList
        videoList.push(eval("(" + _this.getAttribute('data-value') + ")"));
    }
    console.log(videoList);
}

function reset_add_buttion() {
    $('#dialog-popuser button').each(function () {
        this.setAttribute('data-type', '0');
        this.setAttribute('class', 'btn btn-lg btn-default');
        this.innerHTML = '添加';
    });
}

function add_video(_i) {
    $("#dialog-popuser").dialog({
        resizable: false,
        width: 700,
        minheight: 300,
        modal: true,
        show: {
            effect: "explode",
            duration: 300
        },
        hide: {
            effect: "explode",
            duration: 300
        },
        buttons: {
            "确定": function () {
                reset_item(false);
                videoList.splice(0, videoList.length);
                reset_add_buttion(this);
                $(this).dialog("close");
            },
            "取消": function () {
                videoList.splice(0, videoList.length);
                reset_add_buttion(this);
                $(this).dialog("close");
            }
        }
    });
}

function edit_video(_this) {
    var _id = _this.getAttribute('id');
    var _obj = dataList.get_index(current_index);
    if (_obj.has('items')) {
        var _now_data = _obj.get('items');
    }else {
        return
    }
    var _len = _now_data.length;
    for (var _sort= 0;_sort<_len;_sort++){
        if (_now_data[_sort].get("item_id")==_id){
            break;
        }
    }
    $("#dialog-popuser-edit span").each(function(){
        $(this).hide()
        $(this).find('input').val("")
    })
    if (_now_data[_sort].has('title')){
        $("#dialog-popuser-edit #s-title").show();
        $("#dialog-popuser-edit #title").val(_now_data[_sort].get('title'));
    }
    if (_now_data[_sort].has('summary')){
        $("#dialog-popuser-edit #s-summary").show();
        $("#dialog-popuser-edit #summary").val(_now_data[_sort].get('summary'));
    }
    if (_now_data[_sort].has('sub_title')){
        $("#dialog-popuser-edit #s-subtitle").show();
        $("#dialog-popuser-edit #subtitle").val(_now_data[_sort].get('sub_title'));
    }
    $("#dialog-popuser-edit").dialog({
        resizable: false,
        width: 700,
        minheight: 300,
        modal: true,
        show: {
            effect: "explode",
            duration: 300
        },
        hide: {
            effect: "explode",
            duration: 300
        },
        buttons: {
            "保存": function () {
                if (_now_data[_sort].has('title')){
                _now_data[_sort].set('title', $("#dialog-popuser-edit #title").val());
                }
                if (_now_data[_sort].has('summary')){
                _now_data[_sort].set('summary', $("#dialog-popuser-edit #summary").val());
                }
                if (_now_data[_sort].has('sub_title')){
                _now_data[_sort].set('sub_title', $("#dialog-popuser-edit #subtitle").val());
                }
                reset_item(true);
                $(this).dialog("close");
            },
            "删除": function () {
                _now_data.splice(_sort, 1);
                reset_item(true);
                $(this).dialog("close");
            }
        }
    });
}

// Internal recursive comparison function for `isEqual`.
var eq = function (a, b, aStack, bStack) {
    // Identical objects are equal. `0 === -0`, but they aren't identical.
    // See the [Harmony `egal` proposal](http://wiki.ecmascript.org/doku.php?id=harmony:egal).
    if (a === b) return a !== 0 || 1 / a === 1 / b;
    // A strict comparison is necessary because `null == undefined`.
    if (a == null || b == null) return a === b;
    // Unwrap any wrapped objects.
    if (a instanceof _) a = a._wrapped;
    if (b instanceof _) b = b._wrapped;
    // Compare `[[Class]]` names.
    var className = toString.call(a);
    if (className !== toString.call(b)) return false;
    switch (className) {
        // Strings, numbers, regular expressions, dates, and booleans are compared by value.
        case '[object RegExp]':
        // RegExps are coerced to strings for comparison (Note: '' + /a/i === '/a/i')
        case '[object String]':
            // Primitives and their corresponding object wrappers are equivalent; thus, `"5"` is
            // equivalent to `new String("5")`.
            return '' + a === '' + b;
        case '[object Number]':
            // `NaN`s are equivalent, but non-reflexive.
            // Object(NaN) is equivalent to NaN
            if (+a !== +a) return +b !== +b;
            // An `egal` comparison is performed for other numeric values.
            return +a === 0 ? 1 / +a === 1 / b : +a === +b;
        case '[object Date]':
        case '[object Boolean]':
            // Coerce dates and booleans to numeric primitive values. Dates are compared by their
            // millisecond representations. Note that invalid dates with millisecond representations
            // of `NaN` are not equivalent.
            return +a === +b;
    }
    if (typeof a != 'object' || typeof b != 'object') return false;
    // Assume equality for cyclic structures. The algorithm for detecting cyclic
    // structures is adapted from ES 5.1 section 15.12.3, abstract operation `JO`.
    var length = aStack.length;
    while (length--) {
        // Linear search. Performance is inversely proportional to the number of
        // unique nested structures.
        if (aStack[length] === a) return bStack[length] === b;
    }
    // Objects with different constructors are not equivalent, but `Object`s
    // from different frames are.
    var aCtor = a.constructor, bCtor = b.constructor;
    if (
            aCtor !== bCtor &&
                // Handle Object.create(x) cases
                    'constructor' in a && 'constructor' in b && !(_.isFunction(aCtor) && aCtor instanceof aCtor &&
                    _.isFunction(bCtor) && bCtor instanceof bCtor)
            ) {
        return false;
    }
    // Add the first object to the stack of traversed objects.
    aStack.push(a);
    bStack.push(b);
    var size, result;
    // Recursively compare objects and arrays.
    if (className === '[object Array]') {
        // Compare array lengths to determine if a deep comparison is necessary.
        size = a.length;
        result = size === b.length;
        if (result) {
            // Deep compare the contents, ignoring non-numeric properties.
            while (size--) {
                if (!(result = eq(a[size], b[size], aStack, bStack))) break;
            }
        }
    } else {
        // Deep compare objects.
        var keys = _.keys(a), key;
        size = keys.length;
        // Ensure that both objects contain the same number of properties before comparing deep equality.
        result = _.keys(b).length === size;
        if (result) {
            while (size--) {
                // Deep compare each member
                key = keys[size];
                if (!(result = _.has(b, key) && eq(a[key], b[key], aStack, bStack))) break;
            }
        }
    }
    // Remove the first object from the stack of traversed objects.
    aStack.pop();
    bStack.pop();
    return result;
};

// Perform a deep comparison to check if two objects are equal.
_.isEqual = function (a, b) {
    return eq(a, b, [], []);
};

</script>


</head>

<body>

<div id='dialog-popuser' title="添加视频" style="display: none">
    <table id="video_list">
        <tr>
            <th>title</th>
            <th>创建时间</th>
            <th>搜索</th>
        </tr>
        <tr id='v1'>
            <td id="title">什么名字</td>
            <td id="pubdate">2015-06-10 23:10:17</td>
            <td id="data-button">
                <button type="button" class="btn btn-lg btn-default"
                        data-value='{"total_pv":2,"total_comment":0,"pubdate":"2014-10-29 19:43:04","title":"capturedvideo.MOV","cats":"\u81ea\u62cd","img_hd":"http://r2.ykimg.com/1100641F465450CF30046A095EB722328B3540-5463-0FA1-9AF5-C5592BB8F37F","cid":176,"videoid":"XODE0MjQ4ODky","total_fav":0,"state":3,"total_down":0,"total_up":0,"duration":1,"publicType":"all","reputation":0}'
                        onclick="save_data(this)" data-type="0">添加
                </button>
            </td>
        </tr>
        <tr id='v2'>
            <td id="title">什么名字</td>
            <td id="pubdate">2015-06-10 23:10:17</td>
            <td id="data-button">
                <button type="button" class="btn btn-lg btn-default"
                        data-value='{"total_pv":2,"total_comment":0,"pubdate":"2014-10-29 19:37:22","title":"trim.AE7F4BB5-7DC3-4DB6-B290-A7D5E1DB30DF.MOV","cats":"\u81ea\u62cd","img_hd":"http://r2.ykimg.com/1100641F465450CF2E3669095EB7224D6E28AA-B952-D30A-44DA-36AF269FB5D7","cid":176,"videoid":"XODE0MjQ4OTg0","total_fav":0,"state":3,"total_down":0,"total_up":0,"duration":1,"publicType":"all","reputation":0}'
                        onclick="save_data(this)" data-type="0">添加
                </button>
            </td>
        </tr>
        <tr id='v3'>
            <td id="title">capturedvideo.MOV</td>
            <td id="pubdate">2015-06-10 23:10:17</td>
            <td id="data-button">
                <button type="button" class="btn btn-lg btn-default"
                        data-value='{"total_pv":4,"total_comment":0,"pubdate":"2014-10-14 22:19:34","title":"trim.AB56D1F5-8C19-463D-ADC6-387AB7DA09EA.MOV","cats":"\u81ea\u62cd","img_hd":"http://r2.ykimg.com/1100641F46543D2E027652095EB72294F24019-85B1-8DC3-2D2B-D493735A1044","cid":176,"videoid":"XODAzNTkxMzk2","total_fav":0,"state":3,"total_down":0,"total_up":0,"duration":7,"publicType":"all","reputation":0}'
                        onclick="save_data(this)" data-type="0">添加
                </button>
            </td>
        </tr>
    </table>
</div>

<div id='dialog-popuser-edit' title="编辑" style="display: none">
    <div class="form-group">
        <span id="s-title">标题:<input type="text" class="form-control" id="title" placeholder="视频标题..."/></span>
        <span id="s-summary">腰封:<input type="text" class="form-control" id="summary" placeholder="视频腰封..."/></span>
        <span id="s-subtitle">副标题:<input type="text" class="form-control" id="subtitle" placeholder="视频副标题..."/></span>
    </div>
</div>

<div class="app-preview">
    <div class="app-header"></div>

    <div class="app-entry">
        <div class="app-config js-config-region">
            <div id="module_0" class="app-field clearfix editing" data-form="title_form" onclick='onItemSelect(this);'>
                <h3><span name="title">微页面标题</span></h3>
            </div>
        </div>

        <div class="app-fields js-fields-region">
            <div class="app-fields ui-sortable">
                <ul id="sortable">

                </ul>
            </div>
        </div>
    </div>

    <div class="js-add-region center-block">
        <div>
            <div class="app-add-field">
                <h4>添加内容</h4>
                <ul>
                    <li><a class="js-new-field" id="btn_carousel" data-field-type="rich_text">轮播图</a></li>
                    <li><a class="js-new-field" id="btn_box" data-field-type="goods">盒子</a></li>
                    <li><a class="js-new-field" id="test_box_1" data-field-type="goods">test++1</a></li>
                    <li><a class="js-new-field" id="test_box_2" data-field-type="goods">test--2</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div id="app-sidebar" class="app-sidebar" style="top:71px;margin-top: 28px;">
    <div class="arrow"></div>
    <div id="title_form" class="app-sidebar-inner js-sidebar-region">
        <form>
            <div class="form-group">
                <label for="title">模块标题</label>
                <input type="text" class="form-control" id="title" placeholder="模块标题...">
            </div>

            <button type="button" onclick="do_save(0)" class="btn btn-default">保存</button>
        </form>
    </div>

    <div id="carousel_form" style="display:none" class="app-sidebar-inner js-sidebar-region">
        <form>
            <div class="form-group">
                <label for="title">模块标题</label>
                <input type="text" class="form-control" id="title" placeholder="模块标题...">
            </div>
            <div id="s-video-list" class="form-group" style="display: none">
                <label for="title">选取视频</label>
                <ul class="form-video-list clearfix vl-sortable">
                </ul>
            </div>

            <button type="button" onclick="do_save(1)" class="btn btn-default">保存</button>
            <button type="button" onclick="add_video(1)" class="btn btn-default">添加</button>
        </form>
    </div>


    <div id="box_form" style="display:none" class="app-sidebar-inner js-sidebar-region">
        <form>
            <div class="form-group">
                <label for="title">模块标题</label>
                <input type="text" class="form-control" id="title" placeholder="模块标题...">
            </div>

            <div class="form-group">
                <label for="url">视频连接（可选）</label>
                <input type="url" class="form-control" id="url" placeholder="url"/>
            </div>

            <div id="s-video-list" class="form-group" style="display: none">
                <label for="title">选取视频</label>
                <ul class="form-video-list clearfix vl-sortable">
                </ul>
            </div>

            <button type="button" onclick="do_save(2)" class="btn btn-default">保存</button>
            <button type="button" onclick="add_video(2)" class="btn btn-default">添加</button>
        </form>
    </div>
</div>


<div class="clearfix"></div>

<!-- layout item template don't show here -->


<script type="text/template" id="carousel-template">

    <li id="<%- id %>" data-form='<%- form %>' data-id='<%- id %>' data-sort='<%- sort %>' data-type='<%- type %>'
        onclick='onItemSelect(this);'>
        <span name="title" style='display:none'>微页面标题</span>
        <!--轮播图-->
        <div id="app-carousel">

            <div class="app-carousel">

                <div class="container-fluid">
                    <div class="row">
                        <div id="<%- carousel_id %>">

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </li>
</script>

<script type="text/template" id="carousel-item-template">
    <div class="v">
        <div class="v-thumb">
            <div class="v-pic-real"
                 style="background-image:url('<%- item_img %>');"></div>

            <div class="v-overlay-large"></div>
            <div class="v-description v-large">
                <div class="v-title">
                    <span class="v-num"><%- item_title %></span>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="box-template">

    <li id="<%- id %>" data-form='<%- form %>' data-id='<%- id %>' data-sort='<%- sort %>' data-type='<%- type %>'
        onclick='onItemSelect(this);'>
        <span name="title">微页面标题</span>

        <div id="app-box">
            <!--盒子-->
            <div class="app-box">

                <div class="container-fluid">
                    <div class="row">
                        <div id="<%- box_id %>">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>

</script>
<script type="text/template" id="small-video-list-template">
    <li class="v-img" id="<%- _item_id %>" data-sort="<%- sort %>">
        <img src="<%- img_url %>" alt="视频图片" width="50" height="50"/>
        <a class="v-list-edit" data-id="" title="编辑" onclick="edit_video(<%- _item_id %>)">
            <img src="./css/close.png" alt="编辑" width="80%" height="80%"></a>
    </li>
</script>
<script type="text/template" id="box-item-template">
    <div class="col-xs-6">

        <div class="v">

            <div class="v-thumb">
                <div class="v-pic-real"
                     style="background-image:url('<%- item_img %>');"></div>

                <div class="v-description v-large">
                    <div class="v-title">
                        <span class="v-num"><%- item_summary %></span>
                    </div>
                </div>
            </div>

            <div class="v-metadata">
                <div class="v-title">
                    <span><%- item_title %></span>
                </div>
                <div>
                    <span class="v-num"><%- item_subtitle %></span>
                </div>
            </div>

        </div>
    </div>

</script>


<script src="js/struct.js"></script>
<script src="js/views/carousel_view.js"></script>
<script src="js/views/box_view.js"></script>
<script src="js/views/carousel_item_view.js"></script>
<script src="js/views/box_item_view.js"></script>
<script src="js/views/small_video_list_view.js"></script>

</body>