<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
  <title>必胜公考-课程分享</title>
  <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
  
  <script src="vendor/bootstrap-3/js/bootstrap.min.js"></script>
  <link href="vendor/bootstrap-3/css/bootstrap.css" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="vendor/slick/slick.css"/>
  <script src="vendor/slick/slick.min.js"></script>
  <link rel="stylesheet" type="text/css" href="vendor/slick/slick-theme.css"/>
  <link id="slickcss" href="css/mslick.css" type="text/css" rel="stylesheet">

  <style type="text/css">
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    html, body {
      width: 100%;
      height: 100%;
      overflow: hidden;
      font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    }

    @media screen and (min-width: 769px) {
      html, body {
        width: 460px;
        margin: 0 auto;
      }

      body{
        box-shadow: 0 0 30px gray;
      }
    }

    a {
      position: relative;
      text-decoration: none;
      color: white;
      cursor: pointer;
    }

    a::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      background-color: #3F51B5;
      transform: scaleX(0);
      transition: .3s ease-in-out;
    }

    a:hover::after {
      transform: scaleX(1);
      transition: .3s ease-in-out;
    }
    .hover {
      transform: scaleX(1);
      transition: .3s ease-in-out;
    }

  </style>
</head>

<body>
    {% if result.type == "carousels" %}
        <div class="row slick_row">
            {% if result.items %}
                <div class="col-xs-12 yk-box">
                    <div name="m_slick" class="slick-main" id="{{ result.id }}">
                        {% for item in result.items %}
                            <div class="video-item-large"
                                 {% if not forloop.first %}style="min-height:150px;display:none"{% endif %}>
                                <div class="v">
                                    <div class="v-thumb">
                                        <div class="v-pic-default">
                                            <img src="/static/home/img/mobile/video_defaultpic1.png">
                                        </div>
                                        <div class="v-pic-real"
                                             style="background-image:url('{{ item.img }}');"></div>
                                        <a class="v-link"
                                           href="/{{ ptype }}/{{ page_id }}/{% ifequal item.type 'url' %}u_{{ item.url }}{% else %}v_{{ item.tid }}{% endifequal %}"
                                           data-from="1-1" target="_self" title='{{ item.title }}'></a>

                                        <div class="v-overlay-large"></div>
                                        <div class="v-description v-large">
                                            <div class="v-title">
                                                <span class="v-num">{{ item.title }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    {% elif result.type == "box" or result.type == 'v_box' %}
        {% if result.items %}
            <div class="row">
                <div id="{{ result.id }}" class="yk-box{% if result.type == 'v_box' %} vbox{% endif %}">
                    <div class="yk-head">
                        <div class="yk-TitleBar">
                            <div class="pull-left title-nav" style=""></div>
                            <div class="titlebar">
                                <div class="yk-title">
                                {% if result.title_link %}
                                    <a href="{{ result.title_link }}">
                                        <span>{{ result.title }}</span><i class="ico-right" title="更多"></i>
                                    </a>
                                {% else %}
                                    <span>{{ result.title }}</span>
                                {% endif %}
                                </div>
                                {% if result.tags %}
                                    <div class="yk-more">
                                        {% for tag in result.tags %}
                                        <a href="{{ tag.url }}"><span>{{ tag.title }}</span></a>
                                        {% if not forloop.last %}·{% endif %}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="yk-body">
                        <div class="videolist">
                            <div class="video-row">
                                {% for item in result.items %}
                                    {% if result.type == 'box' %}
                                        {% include "home_box.html" with box_video=item page_id=page_id ptype=ptype %}
                                    {% else %}
                                        {% include "_page_v_box.html" with box_video=item page_id=page_id ptype=ptype %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% if result.tail_items %}
                    <div id="yk-tail" class="yk-tail">
                        <div class="videolist">
                            <div class="video-row">
                                {% for tail_item in result.tail_items %}
                                    <div class="box-tail-item">
                                    <a class="v-link"
                                           href="/{{ ptype }}/{{ page_id }}/{% ifequal tail_item.type 'url' %}u_{{ tail_item.url }}{% else %}v_{{ tail_item.tid }}{% endifequal %}"
                                           data-from="1-1" target="_self" title='{{ item.title }}'>
                                        <div class="tail-item">
                                            <div class="tail-icon">
                                                <img src="{{ tail_item.img }}" width="50px" height="50px">
                                            </div>
                                            <div class="tail-info">
                                                <span class="title">{{ tail_item.title }}</span><br>
                                                <span class="desc">{{ tail_item.desc }}</span>
                                            </div>
                                            <div style="clear:both;"></div>
                                        </div>
                                    </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% elif result.type == "adv" %}
        {% if result.items %}
            <div class="row slick_row">
                <div class="col-xs-12 yk-box" style="">
                    <div name="m_slick" class="slick-main" id="{{ result.id }}">
                        {% for item in result.items %}
                            <div class="video-item-large"
                                 {% if not forloop.first %}style="min-height:90px;display:none"{% endif %}>
                                <div class="v">
                                    <div class="v-thumb">
                                        <div class="v-pic-default">
                                            <img src="/static/home/img/mobile/video_defaultpic5.png">
                                        </div>
                                        <div class="v-pic-real"
                                             style="background-image:url('{{ item.img }}');"></div>
                                        <a class="v-link"
                                           href="/{{ ptype }}/{{ page_id }}/{% ifequal item.type 'url' %}u_{{ item.url }}{% else %}v_{{ item.tid }}{% endifequal %}"
                                           data-from="1-1" target="_self" title='{{ item.title }}'></a>

                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    {% elif result.type == "ball" %}
        {% if result.items %}
            <div class="row">
                <div id="{{ result.id }}" class="col-xs-12 yk-ball">
                    <div class="row">
                        {% for item in result.items %}
                            <div class="col-xs-3">
                                <a class="v-link"
                                   href="/{{ ptype }}/{{ page_id }}/{% ifequal item.type 'url' %}u_{{ item.url }}{% else %}v_{{ item.tid }}{% endifequal %}"
                                   data-from="1-1" target="_self" title='{{ item.title }}'>
                                    <div class="ball-thumb">
                                        <div class="ball-pic-default">
                                            <div class="ball-pic-real"
                                             style="background-image:url('{{ item.img }}');background-size: 100%;"></div>
                                            <img src="/static/home/img/mobile/video_defaultpic4.png">
                                        </div>

                                        <div class="ball-info">
                                            <span class="title">{{ item.title }}</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    {% elif result.type == "image_text" %}
        {% if result.items %}
            <div class="row">
                <div class="yk-box image-text-box">
                    <div class="yk-head">
                            <div class="yk-TitleBar">
                                <div class="pull-left title-nav" style=""></div>
                                <div class="titlebar">
                                    <div class="yk-title">
                                    {% if result.title_link %}
                                        <a href="{{ result.title_link }}">
                                            <span>{{ result.title }}</span><i class="ico-right" title="更多"></i>
                                        </a>
                                    {% else %}
                                        <span>{{ result.title }}</span>
                                    {% endif %}
                                    </div>
                                    {% if result.tags %}
                                        <div class="yk-more">
                                            {% for tag in result.tags %}
                                            <a href="{{ tag.url }}"><span>{{ tag.title }}</span></a>
                                            {% if not forloop.last %}·{% endif %}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    <div class="yk-body">
                    {% for item in result.items %}
                        <div class="image-text-item" style="overflow: hidden;min-height:60px;">
                        <a class="v-link"
                                           href="/{{ ptype }}/{{ page_id }}/{% ifequal item.type 'url' %}u_{{ item.url }}{% else %}v_{{ item.tid }}{% endifequal %}"
                                           data-from="1-1" target="_self" title='{{ item.title }}'>
                            <div class="image-text-left-holder col-xs-5" style="width:46%">
                                <div class="v">
                                    <div class="v-thumb">
                                        <div class="v-pic-default" style="position:relative">
                                            <img src="/static/home/img/mobile/video_defaultpic2.png">
                                        </div>
                                        <div class="v-pic-real"
                                             style="background-image:url('{{ item.img }}');"></div>

                                        <div class="v-overlay-large"></div>
                                        <div class="v-description v-large">
                                            <div class="v-tagrb">
                                                <span class="v-time">{{ item.summary }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="image-text-right-holder col-xs-7" style="width:54%">
                                <div class="image-text-header-holder">{{ item.title }}</div>
                                <div class="image-text-desc-holder">{{ item.subtitle }}</div>
                            </div>
                        </a>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    
    {% endif %}

</body>
<script type="text/javascript">
    $(document).ready(function () {
        $('.video-item-large').show();

        $('[id^=carousels_]').each(function(){
            $(this).slick({
            dots: true,
            //pauseOnDotsHover: true,
            autoplay: true,
            autoplaySpeed: 5000,
            infinite: true,
            speed: 700,
            cssEase: 'linear',
            arrows: false
            });
        });
        

        var index = 0;
        $('.videolist .video-row').each(function(){
            var items = $(this).find('.video-item');
            var item_count = items.length;
            if(items.length < 1){return;}
            var grid_match = $(items[0]).attr('class').match(/col-xs-(\d)+/);
            var grid_cols = 4;
            if(grid_match){grid_cols = grid_match[1];}
            if(grid_cols < 1 || grid_cols > 6){return;}
            var count_per_line = 12 / grid_cols;
            var index = 0;

            items.each(function(){
                if(index % count_per_line == 0){
                    $(this).css('padding-left', 0);
                }else if(index % count_per_line == count_per_line - 1){
                    $(this).css('padding-right', 0);
                }
                index++;
            });

        });

        $('.image-text-header-holder').each(function(){
            $(this).text(sub_byte_string($(this).text(),22))
        });
        $('.image-text-desc-holder').each(function(){
            $(this).text(sub_byte_string($(this).text(),66))
        })

    });
</script>

</html>

