<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>
        {% block title %}
            优酷视频微信管理系统
        {% endblock %}
    </title>
    <link type="text/css" rel="stylesheet" href="{{STATIC_URL}}/bootstrap-3/css/bootstrap.css">
    <link href="{{ STATIC_URL }}css/hint.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}jquery-ui-1.10.4/css/ui-lightness/jquery-ui-1.10.4.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/font-awesome.min.css" rel="stylesheet">

    <link href="{{ STATIC_URL }}bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/jquery-ui.css" rel="stylesheet">

    <script src="{{ STATIC_URL }}js/html5shiv.js"></script>
    <![endif]-->
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
          href="{{ STATIC_URL }}ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
          href="{{ STATIC_URL }}ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
          href="{{ STATIC_URL }}ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="{{ STATIC_URL }}ico/favicon.png">

    <script src="{{ STATIC_URL }}js/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/jquery-ui.js"></script>
    <script src="{{ STATIC_URL }}js/table2CSV.js"></script>
    <script src="{{ STATIC_URL }}js/highcharts.js"></script>
    <script src="{{ STATIC_URL }}js/highcharts-more.js"></script>
    <script src="{{ STATIC_URL }}js/line_basic.js"></script>

    <script src="{{ STATIC_URL }}bootstrap-3/js/bootstrap.js"></script>
<style>
{#    .header{#}
{#        width: 100%;#}
{#        height: 10%;#}
{#    }#}
    .navbar-left a span{
        display: none;
    }
    .navbar-left .active a{
        color: orangered;
    }
    .navbar-left .active a span{
        display: inherit;
    }
</style>
{% block link %}

{% endblock %}
</head>
<body>
<div class="header">
    <div>
        <h3 style="margin-left: 50px;margin-top: 10px;">
            <span>
                <img src="http://static.youku.com/index/img/header/yklogo_h.png" style="height: 65px;">
            </span> | 优酷视频微信分享平台
        </h3>
    </div>

</div>
<div class="container">
    <div class="row" style="margin-bottom:5px;margin-top:10px;">
        <div class="pull-left"><a href="http://vip.youku.com/lvip/index.html" target="_blank"><img src="{{ STATIC_URL }}pic/tips.png" style="width: 200px;"></a></div>
        <div class="pull-left" style="margin-left:20px;">
            <!-- 上侧导航 -->
            <ul id="myTabs" class="nav nav-pills">
                <li {% ifequal tab 1 %}class="active" {% endifequal %}{% if not tab %}class="active" {% endif %}><a href="home"><span style="font-size: 1.1em;">主页</span></a></li>
                <li {% ifequal tab 2 %}class="active" {% endifequal %}><a href="statis" ><span style="font-size: 1.1em;">数据统计</span></a></li>
{#                <li><a href="#account-left-nav" data-toggle="tab"><span style="font-size: 1.1em;">账户管理</span></a></li>#}
                <li {% ifequal tab 3 %}class="active" {% endifequal %}><a href="help"><span style="font-size: 1.1em;">帮助中心</span></a></li>
            </ul>
        </div>
        <div class="pull-right">
            <span class="glyphicon glyphicon-user"></span>
            welcome,<a>{{ request.user.username }}</a>|
            <span class="glyphicon glyphicon-cog"></span>
            <div class="dropdown" style="display: inline">
                <a data-toggle="dropdown" href="#">设置</a><img style="width: 40px;height: 40px;margin-left: 15px;" src="{{ STATIC_URL }}pic/avart.png">
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" style="position:absolute;left: -100px;">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;账户信息设置</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="glyphicon glyphicon-lock"></span>&nbsp;&nbsp;密码管理</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;&nbsp;访问设置</a></li>
                    <li role="presentation" class="divider"></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="glyphicon glyphicon-off"></span>&nbsp;&nbsp;注销</a></li>
                </ul>
        </div>
        </div>
    </div>

    <div class="row">
        <!-- 在此处创建左侧导航，将上侧导航的tab指向左导航的id -->
        <div class="tab-content">
            <div id="home-left-nav" class="tab-pane {% ifequal tab 1 %}active{% else %}{% if not tab %}active{% endif %}{% endifequal %}" >
                <div class="col-lg-2" style="min-height: 450px; background-color: #f9f9f9;padding: 0;">
                    <div class="btn-group" style="width: 100%;padding-left: 0px;">
                        <button type="button" class="btn btn-success" style="width: 50%;border-radius: 0"><span class="glyphicon glyphicon-phone"></span>首页</button>
                        <button type="button" class="btn btn-warning" style="width: 50%;border-radius: 0"><span class="glyphicon glyphicon-th-large"></span>模块</button>
                        <button type="button" class="btn btn-block btn-danger" style="border-radius: 0; width: 100%"><span class="glyphicon glyphicon-film"></span>上传视频</button>
                    </div>

                    <div style="width: 100%;height:200px; padding: 0 15px;">
                        <div style="margin-top:30px;margin-left:10px;">
                            <span style="font-size: 5px;color: #a9a9a9">公共模块</span>
                        </div>
                        <ul class="nav navbar-left" style="width: 100%">
                            <li style="width: 100%" {% ifequal sub_tab 1 %}class="active" {% endifequal %}><a href="#home_one" data-toggle="tab">首页管理<span class="glyphicon glyphicon-play pull-right"></span></a></li>
                            <li style="width: 100%" {% ifequal sub_tab 2 %}class="active" {% endifequal %}><a href="#home_two" data-toggle="tab">模块编辑<span class="glyphicon glyphicon-play pull-right"></span> </a></li>
                            <li style="width: 100%" {% ifequal sub_tab 3 %}class="active" {% endifequal %}><a href="#home_three" data-toggle="tab">视频管理<span class="glyphicon glyphicon-play pull-right"></span></a></li>
                            <li style="width: 100%" {% ifequal sub_tab 4 %}class="active" {% endifequal %}><a href="#home_four" data-toggle="tab">我的视频<span class="glyphicon glyphicon-play pull-right"></span></a></li>
                            <li style="width: 100%" {% ifequal sub_tab 5 %}class="active" {% endifequal %}><a href="#home_five" data-toggle="tab">查看个人信息<span class="glyphicon glyphicon-play pull-right"></span></a></li>
                            <li style="width: 100%" {% ifequal sub_tab 6 %}class="active" {% endifequal %}><a href="#home_six" data-toggle="tab">修改个人信息<span class="glyphicon glyphicon-play pull-right"></span> </a></li>
                        </ul>
                    </div>
                </div>
                <!-- 主要内容，如需新建内容，可以新建一个包含新页面链接的div，然后将左侧导航指向div的id -->
                <!-- 一个左导航项对应一个页面，用标签括起来，引用外边的页面，标签名称命名建议content_paneid -->
                <div class="col-lg-10">
                    <div class="content" style='width: 100%; min-height:450px;background: #f9f9f9;background-size: cover'>
                        <div class="tab-content" style="height: 100%">
                            <div class="tab-pane {% if not sub_tab %}active{% endif %}" id="home_zero">
                                {% block content_home_zero %}
                                <div style='float: left;width: 50%;height: 70%;line-height: 30px;background-image: url("{{ STATIC_URL }}pic/letter.jpg")'>
                                    <h4 style="vertical-align: middle;">欢迎欢迎，热烈欢迎</h4>
                                    <article class=""><blockquote  style="font-size: 14px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hi，终于等到你，还好我没放弃。我们是中国最大的ugc（用户产生内容）平台，每天传播出去的视频时长可以绕宇宙几个光年，
                                        如今我们提供了个人ugc平台，立足于微信H5个人视频主页的定义与分享，在这里你不但可以享有我们提供的ugc视频，更举一只手和两只脚来热烈欢迎广大User上传自己的ugc（别问我另一手哪儿去了，只是单纯的觉得举
                                        两只手有点像……），同时，我们为狂拽炫酷的你，提供了丰富的模板功能，随便定义，你说咋都行。热爱视频，热爱分享的您，通过不断的练级，打怪，能成为一名pgc（专业组织生产的内容），我绝对不会告诉你，这就有可能像
                                        《万万》中的锤锤一样，“当上总经理，出任CEO，迎娶白富美”，想想是不是还有点小激动呢？嘻嘻嘻，来吧。</blockquote></article>
                                </div>

                                <div style="float: left;">
                                    <img src="{{ STATIC_URL }}pic/wanwanmeixiangdao.jpg" style="position:absolute; width: 48%; height: 70%;border: 2px; border-color: goldenrod">
                                </div>
                                {% endblock %}
                            </div>
                            <div class="tab-pane {% ifequal sub_tab 1 %}active{% endifequal %}" id="home_one">
                                {% block content_home_one %}
                                <div style="float: left;width: 50%;height: 70%;">
                                    <h4 style="vertical-align: middle;">我们的优势</h4>
                                    <ul style="vertical-align: middle;">
                                        <li>
                                            <b>品牌：</b>优酷作为中国第一视频网站，我们有海量的视频资源，看不完，装不了，就是说：有视频，任性，括弧笑。
                                        </li>
                                        <li>
                                            <b>平台：</b>国内一级社交软件，强大的关系网，你传的片儿，她能看到，他也能看到。
                                        </li>
                                        <li>
                                            <b>功能：</b>功能强大，想怎么玩就怎么玩。
                                        </li>
                                        <li>
                                            <b>凑数：</b>实在不知道写点啥了。
                                        </li>
                                    </ul>
                                </div>

                                <div style="float: left">
                                    <img src="{{ STATIC_URL }}pic/wanwanmeixiangdao.jpg" style="position:absolute; width: 50%; height: 70%;">
                                </div>
                                {% endblock %}
                            </div>

                            <div class="tab-pane {% ifequal sub_tab 2 %}active{% endifequal %}" id="home_two">
                                {% block content_home_two %}
                                    <div>2任性，这块儿想法啥就放啥</div>
                                {% endblock %}
                            </div>
                            <div class="tab-pane {% ifequal sub_tab 3 %}active{% endifequal %}" id="home_three">
                                {% block content_home_three %}
                                    <div>3任性，这块儿想法啥就放啥</div>
                                {% endblock %}
                            </div>
                            <div class="tab-pane {% ifequal sub_tab 4 %}active{% endifequal %}" id="home_four">
                                {% block content_home_four %}
                                    <div>4任性，这块儿想法啥就放啥</div>
                                {% endblock %}
                            </div>
                            <div class="tab-pane {% ifequal sub_tab 5 %}active{% endifequal %}" id="home_five">
                                 {% block content_home_five %}
                                    <div>5任性，这块儿想法啥就放啥</div>
                                {% endblock %}
                            </div>
                            <div class="tab-pane {% ifequal sub_tab 6 %}active{% endifequal %}" id="home_six">
                                {% block content_home_six %}
                                    <div>6任性，这块儿想法啥就放啥</div>
                                {% endblock %}
                            </div>

                        </div>
                    </div>
                </div>

            </div>

            <div id="statis-left-nav" {% ifequal tab 2 %}class="tab-pane active"{% else %}class="tab-pane" {% endifequal %}>
                <div  class="col-lg-2" style="min-height: 450px; background-color: #f9f9f9;padding: 0;">
                    <div class="btn-group" style="width: 100%;padding-left: 0px;">
{#                        <button type="button" class="btn btn-success" style="width: 50%;border-radius: 0"><span class="glyphicon glyphicon-phone"></span>首页</button>#}
{#                        <button type="button" class="btn btn-warning" style="width: 50%;border-radius: 0"><span class="glyphicon glyphicon-th-large"></span>模块</button>#}
                        <button type="button" class="btn btn-block btn-success" style="border-radius: 0; width: 100%"><span class="glyphicon glyphicon-stats"></span>统计走势</button>
                    </div>

                    <div style="width: 100%;height:200px; padding: 0 15px;">
                        <div style="margin-top:30px;margin-left:10px;">
                            <span style="font-size: 5px;color: #a9a9a9">通用功能</span>
                        </div>
                        <ul class="nav navbar-left" style="width: 100%">
                            <li {% ifequal sub_tab 1 %}class="active" {% endifequal %}><a href="#statis_one" data-toggle="tab">访问量查询<span class="glyphicon glyphicon-play pull-right"></span></a></li>
                            <li {% ifequal sub_tab 2 %}class="active" {% endifequal %} style="width: 100%"><a href="#statis_two" data-toggle="tab">访问详细<span class="glyphicon glyphicon-play pull-right"></span> </a></li>
                            <li {% ifequal sub_tab 3 %}class="active" {% endifequal %} style="width: 100%"><a href="#statis_three" data-toggle="tab">访问设置<span class="glyphicon glyphicon-play pull-right"></span></a></li>

                        </ul>
                    </div>
                </div>
                <!-- 主要内容，如需新建内容，可以新建一个包含新页面链接的div，然后将左侧导航指向div的id -->
                <!-- 一个左导航项对应一个页面，用标签括起来，引用外边的页面，标签名称命名建议content_paneid -->
                <div class="col-lg-10">
                    <div class="content" style="width: 100%; min-height:450px;background: #f9f9f9;background-size: cover">
                        <div class="tab-content">
                            <div class="tab-pane {% if not sub_tab %}active {% else %}{% ifequal sub_tab 1 %}active{% endifequal %}{% endif %}" id="statis_one">
                                {% block content_statis_one %}
                                <div>statis_one</div>
                                {% endblock %}
                            </div>

                            <div class="tab-pane {% ifequal sub_tab 2 %}active{% endifequal %}" id="statis_two">
                                {% block content_statis_two %}
                                    <div>statis_two</div>
{#                                    <div>statis_two</div>#}
{#                                    <div class="yk-container container-fluid">#}
{#                                        <link id="slickcss" href="{{ STATIC_URL }}home/css/mslick.css" type="text/css" rel="stylesheet">#}
{#                                            {% include "bases.html" with result=result only %}#}
{#                                    </div>#}
                                {% endblock %}
                            </div>
                            <div class="tab-pane {% ifequal sub_tab 3 %}active{% endifequal %}" id="statis_three">statis_three</div>

                        </div>
                    </div>
                </div>
            </div>

            <div id="help-left-nav" {% ifequal tab 3 %} class="tab-pane active"{% else %}class="tab-pane" {% endifequal %}>
                <div class="col-lg-0">

                </div>
                <!-- 主要内容，如需新建内容，可以新建一个包含新页面链接的div，然后将左侧导航指向div的id -->
                <!-- 一个左导航项对应一个页面，用标签括起来，引用外边的页面，标签名称命名建议content_paneid -->
                <div class="col-lg-12">
                    <div class="content" style="width: 100%; min-height:450px;background: #f9f9f9;background-size: cover">
                        <div class="tab-content">
                            <div class="tab-pane active" id="one">
                                {% block content_help_one %}
                                <div style="float: left;width: 50%;height: 70%;">
                                    <h4 style="vertical-align: middle;">这里是帮助中心啊，名字显得很专业，其实现在想到的就是放个使用说明文档啊！</h4>
                                    <ul style="vertical-align: middle;">
                                        <li>
                                            <b>品牌111：</b>优酷作为中国第一视频网站，我们有海量的视频资源，看不完，装不了，就是说：有视频，任性，括弧笑。
                                        </li>
                                        <li>
                                            <b>平台：</b>国内一级社交软件，强大的关系网，你传的片儿，她能看到，他也能看到。
                                        </li>
                                        <li>
                                            <b>功能：</b>功能强大，想怎么玩就怎么玩。
                                        </li>
                                        <li>
                                            <b>凑数：</b>实在不知道写点啥了。
                                        </li>
                                    </ul>
                                </div>

                                <div style="float: left">
                                    <img src="{{ STATIC_URL }}images/new_page/laifeng/others_bg.png" style="position:absolute; width: 50%; height: 70%;">
                                </div>
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
<script type="text/javascript" src="{{ STATIC_URL }}bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.js"            charset="UTF-8"></script>

    <script type="text/javascript"
            src="{{ STATIC_URL }}bootstrap-datetimepicker-master/js/locales/bootstrap-datetimepicker.zh-CN.js"
            charset="UTF-8"></script>

    <script type="text/javascript">
          $('input').tooltip();
        $('#myTab a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        });

        $('.form_date').datetimepicker({
            language:  'zh-CN',
            weekStart: 1,
            todayBtn:  1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });
        $('#myTab a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        });

    </script>
{% block js %}
{% endblock %}
</body>
</html>