{% extends 'application/app_base.html' %}
{% load staticfiles %}
{% load util_template_tags %}

{% block reset_css %}
    <style>
        .row {
            margin: 20px;
        }
    </style>
{% endblock %}

{% block col_main %}
    <div class="title-tab">
        <ul class="tab-navs">
            <li class="tab-nav selected "><a href="">我的模版列表</a></li>
        </ul>
    </div>

    <div class="title-bar">
        <div class="info">

        </div>
    </div>

    <div class="row">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
{#                        <th>模版ID</th>#}
                        <th>标题</th>
                        <th>内容</th>
                        <th>示例</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody id="sortable">
                    {% for data in datas %}
                    <tr class="sort-item" id="module{{ data.id }}" value="{{ data.id }}">
                        <input type="hidden" name="status_item_id" value="{{ data.id }}">
{#                        <td>{{ data.template_id }}</td>#}
                        <td>{{ data.title }}</td>
                        <td>{{ data.content }}</td>
                        <td>{{ data.example }}</td>


                        <td>
                            <a href="{% url 'template_keywords' %}?template_id={{ data.template_id }}&kw_count={{ data.kw_count }}" class="btn btn-primary" role="button">关键词</a>

                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        {% if not datas %}
        <div class="col-md-12">
            <div class="alert alert-info" role="alert"><strong>Warning!</strong> 数据为空,请创建数据。</div>
        </div>
        {% endif %}


    </div>


    <input type="hidden" id="menu-sel" value="101">
{% endblock %}


{% block endlink %}
    <script src="{{ STATIC_URL }}toast_message/jquery.toastmessage.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-modal.js"></script>


{% endblock %}

